[2021-10-04 05:17] AMAN123956 opened #3 "Add resources for Frontend"
Add resources related to frontend web development

[2021-10-04 05:18] AMAN123956 opened #4 "Improve Feature Section UI"
Update feature section ui of landing page

[2021-10-04 06:34] biohazard2117 commented on #3
I will do it @AMAN123956 . But can you be more descriptive about what you want to be done?

[2021-10-04 06:43] bajajanjana opened #6 "Design a Logo for the website"

[2021-10-04 06:46] bajajanjana opened #7 "Make the site responsive for mobile and tablet screens"

[2021-10-04 06:47] AMAN123956 commented on #3
@biohazard basically I want some resources  (documentation,blog links) related to various topics on front-end web development to be listed down

[2021-10-04 06:50] bajajanjana opened #8 "Add a responsive navigation bar"

[2021-10-04 06:56] bajajanjana opened #9 "Improve Start Learning Section UI in Home page (may add some overlays or simple animation effects)"

[2021-10-04 07:03] mihir0699 commented on #4
Hey @AMAN123956 ,please assign me this issue, will try to improve the UI

[2021-10-04 07:27] AMAN123956 commented on #4
@mihir0699  merged your pr closing the issue

[2021-10-04 07:27] #4 closed

[2021-10-04 08:29] Pluffy2217 commented on #8
What elements do we need to add in Navbar?
Currently I have "Resources", "Contribution Guidelines", "Features" and "Start Learning".
Should I add or remove something?

[2021-10-04 08:50] vivekarora-02 commented on #3
Hey, there!
I would like to contribute to this issue, can you please assign me?

ThankYou!

[2021-10-04 08:51] vivekarora-02 commented on #6
Hey, there!
I would like to contribute to this issue, can you please assign me?

ThankYou!

[2021-10-04 08:52] vivekarora-02 commented on #7
Hey, there!
I would like to contribute to this issue, can you please assign me?

ThankYou!

[2021-10-04 08:52] vivekarora-02 commented on #8
Hey, there!
I would like to contribute to this issue, can you please assign me?

ThankYou!

[2021-10-04 09:44] rucha0702 opened #11 "Fix the Start Learning button"

[2021-10-04 09:53] rucha0702 opened #13 "Beginner section links not working"

[2021-10-04 09:53] Priyanshi-Raj commented on #8
Hey , I sent a PR to it .Please review it

[2021-10-04 11:22] Devv14 commented on #11
Hey,
I want to work on this issue. Please assign it to me.

[2021-10-04 12:08] AMAN123956 commented on #3
@biohazard2117  are u interested on working on this issue

[2021-10-04 12:13] AMAN123956 commented on #11
@Devv14 you can go ahead

[2021-10-04 12:15] AMAN123956 commented on #6
hey @vivekarora-02 u can go ahead on working on this issue

[2021-10-04 12:32] muskanarora21 commented on #9
I want to work on this issue. Please assign it to me.

[2021-10-04 12:40] bajajanjana commented on #9
Go ahead @muskanarora21

[2021-10-04 12:41] bajajanjana commented on #7
Go ahead @vivekarora-02

[2021-10-04 12:54] kavya2008 opened #15 "page footer"
i want to improve the footer section of home page. Please assign this issue to me.

[2021-10-04 13:07] AMAN123956 commented on #15
@kavya2008 u can go ahead

[2021-10-04 13:12] bajajanjana commented on #8
@Priyanshi-Raj you have improved the resource button at the top. Under this issue, we are expecting a responsive navigation bar with all menu items listed properly. You can still improve that.

[2021-10-04 13:14] HimangsKalita commented on #3
Please check pull request #16

[2021-10-04 13:33] Priyanshi-Raj commented on #8
@bajajanjana okay! will surely work over it

[2021-10-04 14:37] Devv14 commented on #11
please review PR #17 .

[2021-10-04 16:31] AMAN123956 commented on #11
@Devv14  pr merged closing the issue

[2021-10-04 16:58] AMAN123956 opened #18 "Add resources related to Programming Languages"
Resources related to Programming required

[2021-10-04 17:44] Devv14 commented on #18
Hello,
I want to work on this issue . Please assign it to me ..

[2021-10-04 18:22] AMAN123956 commented on #18
@Devv14  u can go ahead

[2021-10-04 19:20] Devv14 commented on #13
hi there,
I want to work on this issue. please assign it to me.

[2021-10-04 19:22] Devv14 commented on #18
Please review PR #21.

[2021-10-04 20:12] prabhxjottsingh opened #22 "Add See Contribution Guidelines Page"
Hey, I think that `See Contribution Guidelines` button on `index.html` is not working, and `Explore Resources` button is also redirecting user to the `Contribution` section of the `Resouces.html` page, can I work to resolve both of these issues, and if you want me to add a `favicon` I can add that too after designing one, if you agree ??

[2021-10-05 06:51] Priyanshi-Raj commented on #13
Hey! Fixed the beginner section links and created the PR for same . Please Review that .

[2021-10-05 08:10] #13 closed

[2021-10-05 10:02] prabhxjottsingh commented on #22
@deshraj Can you pls look into this issue, and assing it to me ??

[2021-10-05 10:04] prabhxjottsingh commented on #22
@Devv14  Can you pls look into this issue, and assing it to me ??

[2021-10-05 12:22] Devv14 commented on #22
Helo, I'm a contributor too so i can't assign. Someone from the gdsc team will look into your issue and get back to you.

[2021-10-05 12:38] AMAN123956 commented on #22
@prabhxjottsingh explore resource button functionality is fine u can create a separate page for contribution guideline section

[2021-10-05 12:42] prabhxjottsingh commented on #22
@Devv14 oh okay my bad!!

@AMAN123956 Okay, I would like to add a separate page for contribution guidelines section, can you please assign this to me ??

[2021-10-05 13:50] Sat02yam opened #24 "Make a uniform UI for the Mobile preview, Try managing the side navbar on mobile for better UX"

[2021-10-05 13:55] RitikaGarg-tech commented on #3
Sir can i work on this

[2021-10-05 14:04] bhavya-vaid commented on #8
@Priyanshi-Raj  Hey! I would like to work on this. Do u want a horiz or a vertical nav bar and what menu items are to be listed?

[2021-10-05 14:24] AMAN123956 commented on #24
@Sat02yam u can go ahead

[2021-10-05 14:25] AMAN123956 commented on #3
@RitikaGarg-tech u can work on this

[2021-10-05 14:28] dikshita-jain-13 commented on #6
Hey there !
I would like to contribute on this issue and make a logo for this, can you please assign me this task ?
Thankyou :)

[2021-10-05 14:35] dikshita-jain-13 opened #25 "Top Navbar UI"
Can I redesign the UI of top navbar ? Also I want to make some improvements in the side navbar.

[2021-10-05 17:04] AMAN123956 commented on #25
@dikshita-jain-13 u can work on this

[2021-10-06 10:02] srivasPankhuri commented on #3
@AMAN123956  Sir, I would like to contribute to this issue.
Can I work on it?

[2021-10-06 10:09] AMAN123956 commented on #3
@srivasPankhuri u can go ahead

[2021-10-06 10:12] AMAN123956 commented on #24
@Sat02yam  closing the issue as the pr has been merged

[2021-10-06 10:12] #24 closed

[2021-10-06 10:12] AMAN123956 commented on #15
@kavya2008  are u interested in working on this issue

[2021-10-06 11:34] thisisrajneel opened #32 "Add resources related to Web Development"
There are very few resources in the web development section, and most of them are set to the default (MDN docs).

[2021-10-06 11:34] thisisrajneel commented on #32
Can I work on this?

[2021-10-06 11:36] AMAN123956 commented on #32
@thisisrajneel  u can work on this

[2021-10-06 16:53] shray-jayn opened #40 "Add resources related to Mobile Development-> Android"
Hello,
I want to work on this issue. Please assign it to me.
I would like to add resources to the Android section
<img width="438" alt="Capture" src="https://user-images.githubusercontent.com/76147471/136248829-4bdac878-b4c8-44df-825b-067f3cbf98af.PNG">
.

[2021-10-06 17:59] Anant7393 opened #44 "Add Favicon"

[2021-10-07 03:43] himanshukaushal123 commented on #25
Please assign me this task...

[2021-10-07 04:32] #22 closed

[2021-10-07 09:51] shray-jayn commented on #44
I have added a Favicon

![favicon](https://user-images.githubusercontent.com/76147471/136361661-d31a8161-d287-4ce2-a89f-3e558223eb06.png)

pls, review and merge pr #54.
Thanks in advance.

[2021-10-08 06:36] PreetiBaskey commented on #3
Hello... I am working on React Native Projects and it is a good option to choose as a open-source UI framework. You can assign me the issue for this. And you can discuss the requirements of yours  - project , so that i can work through.

[2021-10-14 19:26] AMAN123956 opened #81 "Adding animation on hover over feature cards"

[2021-10-16 15:39] AMAN123956 commented on #81
@samyaksand u can work on this issue

[2021-10-17 13:05] sandipanxlr8 opened #85 "Adding Svelte to Frontend intermediate resources"
Adding Svelte to Frontend intermediate resources as its gaining traction in Frontend community for its simplicity.

[2021-10-19 10:39] AMAN123956 commented on #85
@sandipanxlr8  u can work on this

[2021-10-19 10:52] AMAN123956 opened #87 "Update contact section ui"

[2022-02-24 03:07] AnweshaRoses commented on #87
Hello, If no one is working on It then I would love to take up this issue.

[2022-02-24 03:10] AnweshaRoses commented on #8
Hey! I would like to work on this issue. can you assign it to me ?
Thank you!

[2022-02-24 15:48] varisha-025 commented on #87
Hello @AMAN123956, I am a participant in GSSOC 2022. If no one is working on It then I would like to know the next steps on this.

[2022-02-24 17:02] AMAN123956 commented on #87
@AnweshaRoses U can work on this issue

[2022-02-24 17:04] AMAN123956 commented on #87
@varisha-025  GSSOC 2022 has not started right now but if you want to contribute in this project then u can raise a issue or work on any of the existing issues

[2022-02-25 06:02] AnweshaRoses commented on #87
@AMAN123956 Made changes to the contact section, please check pr#103.
Thank you.

[2022-02-25 17:45] akashroy1 commented on #3
Hi! Can I work on this?

[2022-02-25 17:46] Ashish4321-hub commented on #44
@Anant7393  I want to add favicon .I have lot of favicon.
pls assign me this issue.

[2022-02-25 17:54] Ashish4321-hub commented on #44
@Anant7393  I want to add favicon on this website.
please assign me this issue.

[2022-02-26 15:06] harshitab07 commented on #87
Hey, I am GSSOC 2022 participant. I would like to make improvements in Contact section UI. If this issue is still unresolved kindly assign me this one.

[2022-02-26 19:51] tishaag098 commented on #8
Hey, there!
I would like to contribute to this issue, can you please assign me?

[2022-02-26 19:52] tishaag098 commented on #6
Hey!!
I would like to contribute to this issue, can you please assign me?

[2022-02-27 11:01] AnweshaRoses commented on #87
@AMAN123956  I have made necessary changes, can you please check pr#103.
Thank you!

[2022-02-27 13:20] shivam123-dev opened #104 "Dark Mode is Not Working"
**Describe the bug**
Upon clicking the button just next to Resources button for enabling **dark mode**, it is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [website](https://dsc-jss-noida.github.io/QuickLearn/)
2. Click on **Dark Mode Button**

**Expected behavior**
Upon clicking the button, the website should appear in dark mode. But it is still remaining in light mode

[2022-02-27 13:59] shivam123-dev commented on #104
Being a GSSOC'22 participant, kindly assign this task of bug fixing to me so that I can start working on it from 1st March.

[2022-02-27 16:26] 1ananya3 commented on #7
I want to work on this.Can you assign it to me?

[2022-02-27 16:44] rashi1405 commented on #7
hello , I am a participant of GSSOC'22 , can you assign me this project to work .

[2022-02-28 03:49] AnweshaRoses commented on #44
I am a GSSOC participant, if the issue is still not solved I would love working on it

[2022-02-28 05:45] ManaliPawar commented on #44
i would like to work on this issue,can you please assign me? I am a GSSOC participant

[2022-02-28 05:46] ManaliPawar commented on #8
Hey!!
I am GSSOC participant, can you please assign me this issue?

[2022-02-28 05:48] ManaliPawar commented on #3
hello, i am a GSSOC participant, Can i work on this issue?

[2022-02-28 12:56] ShrutiVaishnav28 commented on #6
@AMAN123956 can I, with @vivekarora-02 solve this issue? Will you pls assign this project to me?

[2022-02-28 14:10] jaisinha opened #105 "Issue Regarding the number of website links given for cpp immediate level"
Issue Regarding the number of website links given for CPP immediate level

Solution
Adding more good links that are personally recommended by me.As an immediate to advance level coder

links and screenshots

Websites like-:https://www.youtube.com/c/fitcoder
https://www.google.com/searchq=aditya+verma&oq=aditya+verma&aqs=chrome..69i57j46i19j0i19l8.7494j0j4&sourceid=chrome&ie=UTF-8

[2022-02-28 14:12] jaisinha commented on #105
This will really help  students who are looking forward to master cpp

[2022-02-28 14:39] singhkunal01 commented on #104
Hey Sir,
Can You assign this task for me ?
So that i can solve this error ?

[2022-02-28 16:12] HarshKumarChoudary commented on #105
I'm participating in GSSOC'22. Is this task available for that.
please assign it to me.

[2022-02-28 17:08] gurjeetsinghvirdee opened #106 "Add resources for JavaScript"
Hello, I'm a GSSo'C 22 Contributor, Please assign me this issue tomorrow
I will add JavaScript resources related to Programming

[2022-02-28 17:59] sulogna2001 commented on #104
Hey Can I work on this issue for GSsoc22

[2022-02-28 18:07] kalashvasaniya commented on #8
Hey, I want to work on this issue!

[2022-02-28 18:13] anish2210 commented on #8
hello, This is a registration/login page              ------               https://stackblitz.com/edit/angular-ivy-iro2sa
I would love to contribute to this org. can you please assign me this  work 😊😊

[2022-02-28 18:31] Anish1411 commented on #104
hei , i would like to work to work on this , assign it to me

[2022-02-28 18:51] SupriyaKumari08 opened #107 "Cards under Resources section get distorted and overlap when the screen size is altered(Not Responsive)"
**Describe the bug**
When we change the size of the screen , at few points the cards overlap, before they finally wrap themselves in .

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to: https://dsc-jss-noida.github.io/QuickLearn/index.html
2. Click on: Explore Resources
3. Click on : Category {select any category from the list}
3. Select any course {example: Web Development -> Frontend}

[2022-02-28 19:16] ankita-das-26 opened #108 "Night Mode Not working"
Night Mode could be enable for better UI/UX

[2022-02-28 19:19] #108 closed

[2022-02-28 19:23] ankita-das-26 opened #109 "Navbar UI"
Navbar can have more columns like testimonials, Offer on Courses etc.

[2022-02-28 19:52] Prit33 commented on #87
I would like to do some ui change in the site, kindly assign me for GSSOC 2022 contribution.

[2022-02-28 20:30] Harshil-Jani opened #110 "Separating Code Snippets from Text"
**Describe the bug**
The issue is that, When you open the Contribution Guidelines from the site, The commands written over there are simple text messages. When user switches to dark mode, It do not seem appealing. So, What we can implement is simply, with the support from HTML5 convert those code snippets into `<code>` tags and then apply CSS accordingly to make the snippets visually appealing as

[2022-02-28 20:45] adityabhatia17 commented on #104
Hey, I think I can solve this issue please assign.

[2022-02-28 22:24] Varinder-KM commented on #107
I had fixed this issue So, can I make PR ?

[2022-03-01 00:44] rohit-raj25 commented on #8
Hey!!
I am a GSSOC participant, can you please assign me this issue?

[2022-03-01 00:45] rohit-raj25 commented on #7
Hey!!
I am a GSSOC participant, can you please assign me this issue?

[2022-03-01 01:11] geethika1129 commented on #109
I am a GSSoC participant and I would like to work on this . Could you please assign this to me.

[2022-03-01 02:49] ShambhaviDixit09 commented on #6
Hello,
I am a participant to GSSOC 2022. I would be delighted to fix this issue. So I request you to please assign me this work.
Thankyou.

[2022-03-01 02:55] ShambhaviDixit09 commented on #109
Hello,
I am a GSSOC 2022 participant. I can fix this issue. SO, i request you to assign this work to me.
Thank you.

[2022-03-01 04:16] UdAyAn123 commented on #44
I am looking forward to this issue

[2022-03-01 04:56] ritikaaaa177 commented on #3
hello please assign me this issue . I would like to work upon it

[2022-03-01 05:04] ritikaaaa177 commented on #44
i ama gssoc prticipant can you please assign me this issue ?

[2022-03-01 05:05] A-K-2001 commented on #104
Hello,
I am a GSSOC 2022 participant. I can fix this issue. SO, i request you to assign this work to me.
Thank you.

[2022-03-01 05:31] Susmita-Dey commented on #104
I am a GSSOC 2022 participant. I can fix this issue. So, I request you to assign this work to me.
Thank you.

[2022-03-01 05:37] Abh1shekSingh commented on #107
It is still not responsive. Can I work on this issue please. @SupriyaKumari08 Please assign it to me

[2022-03-01 05:46] Abh1shekSingh commented on #7
Hey I am Gssoc participant @bajajanjana  please assign this issue to me

[2022-03-01 05:51] Varinder-KM commented on #107
It is still not responsive because my PR is not merged.

[2022-03-01 05:54] Abh1shekSingh commented on #107
Okay

On Tue, Mar 1, 2022 at 11:21 AM Varinder Kumar Maurya <
***@***.***> wrote:

[2022-03-01 06:34] adi7yashah commented on #109
I  am a GSSOC 2022 Participant and I can fix this issue . I know complete web development please assign this work to me.
Thank you.

[2022-03-01 06:41] adi7yashah commented on #7
Hey!!
I am a GSSOC participant, can you please assign me this issue?

[2022-03-01 06:52] jaisinha commented on #105
@HarshKumarChoudary  I am raising this issue as am a contributor not a mentor.

[2022-03-01 07:11] Sanghu01 commented on #44
I want to work on this issue under the gssoc 22. i can do it as soon as possible... plz assign me this.

[2022-03-01 07:24] anish2210 commented on #8
Bro I am also a contributer 😀(not a mentor).

On Tue, 1 Mar, 2022, 6:15 am rohit-raj25, ***@***.***> wrote:

[2022-03-01 07:25] codervivek5 commented on #8
I want to work on this issue. plz assign me

[2022-03-01 07:39] HarshKumarChoudary commented on #105
Ok

[2022-03-01 07:46] 19arnab190201 opened #112 "Improve categories section UI"
Improve categories section UI by adding animated dropdown effect for better look and feel.

[2022-03-01 08:11] UdAyAn123 commented on #18
I am looking forward to this issue

[2022-03-01 08:53] flow6979 commented on #8
hey, I am comfortable in solving this issue. can you assign it to me?
thank you

[2022-03-01 08:55] flow6979 commented on #104
Hey, GSSOC'22 participant here, please assign this task to me.
Thank you.

[2022-03-01 09:05] AshutoshDash1999 opened #113 "Add SEO friendly meta tags"
Hey, I saw that a really helpful website like QuickLearn doesn't have SEO friendly tags. I want to add SEO friendly tags. Can you please assign this issue to me?

[2022-03-01 11:20] thelordzeus commented on #113
Hello there, I was looking forward to work on this project and hoped that I can work on this issue. Adding SEO friends tags can be very effective for this project so I hope to work on this

[2022-03-01 11:32] gurjeetsinghvirdee opened #114 "Add resources for MEAN Stack"
Hello, I'm a GSSo'C 22 Contributor, Please assign me this issue
I will add MEAN Stack resources related to Web Development

[2022-03-01 11:35] AnIkeT126 commented on #81
Can I work on this issue as a part of GSSoC'22??

[2022-03-01 12:28] Pradumnasaraf opened #115 "docs: Adding a Pull Request Template"
### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

- Contribution towards GSsoc`22, Thank You

[2022-03-01 12:37] b-suryaraj commented on #8
Hey, actually I would like to contribute to this issue. Can you please assign it to me?

[2022-03-01 13:43] anish2210 commented on #18
Hay @AMAN123956 I am a self-taught programmer and a developer I am a student of mechanical engineering and I have learned everything on my own in the field of web dev and software.
I would like to contribute to helping others to achieve their dreams 😊

[2022-03-01 13:59] DishaRawal commented on #115
Hi,
I would like to create a PR template as shown above. I am a GSsoc'22 participant so kindly assign it to me.

[2022-03-01 14:22] Sandhya312 commented on #112
I want to work on this issue. Please assign it to me.

[2022-03-01 14:27] utkarshnashine commented on #109
Hello Sir,I am a GSSOC'22 participant and I would like to work on this issue.

[2022-03-01 14:49] kiran11621 opened #117 "Improve UI for Programming"
I would love to work on the UI section of the Programming web pages. I will improve the card design and add meta descriptions with appropriate images for the resources in the tags.

[2022-03-01 15:41] Payalsahb20220 commented on #18
Hello @AMAN123956 sir , I want to work on this issue. Can u please assign me.

[2022-03-01 19:59] techSun-07 opened #119 "Adding a quote blog on Quick Learner"
hi I am Suneeth Taneja | Participant GSSOC'22

As Quick Learner is basically a learning app, we can add a small block of inspirational quotes on the web page?

Please Assign me an Issue.
I will give the quotes content and add on the landing page of the website.

[2022-03-01 20:07] techSun-07 opened #120 "Adding the Stars/ Ratings to a Particular course"
Hi, this is <b>Suneeth Taneja</b>

- Adding <b>Stars/ Rating ⭐ </b> to the most picked up course by the learners can guide the others to select the most appropriate and the right course
- Just need someone to work on statistical part along with me to know which course is the most clicked course to assign the rating stars filling color.

[2022-03-01 20:41] sunidhisachan opened #121 "Buttons issue"
Once the button is clicked -category list opens , but now on clicking again it should be closed .

![image](https://user-images.githubusercontent.com/86006420/156245062-e03cc78b-0410-420c-9d0b-f64fa30d8f2c.png)

So, We can implement closing the list when user clicks again on the button.

[2022-03-02 03:44] itsAftabAlam opened #122 "small mistake in git command in README.md"
please review the below linked PR

[2022-03-02 05:47] #122 closed

[2022-03-02 06:35] Siddhi-Mundada commented on #9
Please assign this issue to me for GSSOC-22

[2022-03-02 06:41] itsAftabAlam opened #125 "error in git command in resource.html"
hey there was a similar error in git command when you visit to https://dsc-jss-noida.github.io/QuickLearn/resource.html, this PR will fix that. Please review

[2022-03-02 07:11] bhumithakur commented on #104
If it's not assign to anyone can i work on it @shivam123-dev

[2022-03-02 08:23] vedsom commented on #25
@AMAN123956  sir i am a GSSOC 2022 participant, there is not a proper navbar UI ,which will be really helpful to user,instead of scrolling pages. so please assign this task to me.

[2022-03-02 08:34] vedsom opened #128 "Top Navbar modification"
@AMAN123956  sir I am GSSOC 2022 participant
I would like to modify the navbar, it will consist various options like resources, features, contact , sign in which will be really helpful to the user to transit easily instead of scrolling pages.
I will also add CSS part will make it good.
Atlast I will add a search button through which user can search their courses easily.

so assign me for this prob

[2022-03-02 11:55] kheya19 opened #129 "Improve Contact section UI"
improving the contact section with a modern look

[2022-03-02 12:06] Alekhya193 commented on #129
hey i want to work on this issue

[2022-03-02 14:34] bhavyapathak20 commented on #129
I would like to work on this issue under Girlsript Summer of Code. I have been in touch with UI design for quite a long time and I believe I will be able to modify it nicely.

[2022-03-02 14:36] bhavyapathak20 commented on #112
I would like to work on this issue under Girlscript Summer of Code. I have been in touch with the UI design for quite a long time now and I believe that I will be able to modify it nicely. It would be great if this issue will be assigned to me.

[2022-03-02 14:47] AMAN123956 commented on #104
@shivam123-dev you can work on resolving this issue

[2022-03-02 14:50] AMAN123956 commented on #105
@jaisinha u can work on this issue

[2022-03-02 15:14] starashdeep opened #130 "Payment Gateway Integration"
**Is your feature request related to a problem? Please describe.**

Yes, this feature request is related to a problem. Integrated payment gateway using Razorpay with multiple payment methods e.g. through credit cards, Paypal etc. Generated invoice of the payment done and sent through email to the use

**Describe the solution you'd like**

Built a donation website to generate awareness and motivati

[2022-03-02 15:54] kanthalaHarivardhanReddy opened #131 "Add resources for C language"
Hey,
I'm a **GSSOC' 22** Contributor, Please assign me this issue
I will add resources of C language according to the Beginner, Intermediate and Advanced Levels

[2022-03-02 17:31] Divyansh1315 opened #133 "Improved Social Media Icons"
###Social Media Icons
Some improvement in Social media icons is required. The Icons are positioned slightly right and it looks asymmetrical.

[2022-03-02 17:51] Divyansh1315 commented on #129
Hey I would like to work on this issue under GSSOC'22.

[2022-03-02 19:28] TG922 opened #135 "Enhancement: Add custom scroll bar"
### Description

- I want to add custom scroll bar for this website.

### Screenshot

- Please assign me on this issue under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156434800-e33c950a-f287-4c00-a4c0-7e3fdb5d09c5.PNG)

[2022-03-02 20:25] TG922 opened #136 "Adding Scroll back to top botton feature"
### Description

- I want to add scroll back to top button for this website.
- This will improve website’s **User Experience(UX)** with an arrow, when a user start scrolling the page. The page smoothly scrolls back to top when the the button is clicked.

### Screenshot

- Please assign me to work for this feature under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/1564435

[2022-03-02 20:27] Rhydham2809 opened #137 "Practice projects with solution can be added"
Along with the courses there practice projects can be added along with there code and in programming languages a proper question bank of different levels can be added.
I am Gssoc 2022 participate and want to work in this issue.
Kindly assign this issue to me.

[2022-03-03 03:30] radzhiv25 commented on #128
Also interested in doing this task

[2022-03-03 03:36] Shama-Devi-93 opened #139 "Chnage the CSS of Cards and Categories"
We can add new css to make the cards and categories section a bit attractive and informative.

![Screenshot from 2022-03-03 09-03-06](https://user-images.githubusercontent.com/95569495/156491099-4e9ad829-8d18-458f-9fe9-d7539d7f5e36.png)

I would like to work upon this issue could you assign it to me.

[2022-03-03 03:43] radzhiv25 commented on #129
Hey I am also interested in doing this task

[2022-03-03 04:57] naugsss opened #140 "Change the CSS of Categories and Dark mode"
The styling of categories panel is not that much attractive so we can make certain changes in the CSS part so as to make it more attractive so that more number of users will visit that page.
![Screenshot 2022-03-03 102717](https://user-images.githubusercontent.com/89718207/156498847-bdf0db06-1460-4f8b-879f-de8e44a696ab.jpg)

Moreover certain changes can be made in the dark mode CSS part. The prese

[2022-03-03 05:50] khushigupta123 opened #141 "Add responsiveness to contact section"
**Issue faced**
Currently, the contact section is not responsive making it difficult for users to operate contact section in tablet or mobile screen.

**Improvements suggested**

- [ ] * Alignment of contact section text according to screen size
- [ ] * Better placement of contact form and contact information card for mobile UI
- [ ] * Better placement of submit button
- [ ] * Completely responsiv

[2022-03-03 07:22] jaydeepdey03 commented on #140
@naugsss Can you assign this issue to me under GSSOC'22 tag

[2022-03-03 08:18] Hritik-Verma41 opened #142 "Improving the padding of the cards in Features Section and make the features card images rounded to make them look more attractive"
The padding inside the features section cards looks dull and less appealing
![Capture2](https://user-images.githubusercontent.com/75332256/156524122-6af6406c-0539-4195-ae2b-47a2a2f07dd1.PNG)
I would like to add some padding and make the card images look rounded the they look more appealing and attractive.
![Capture3](https://user-images.githubusercontent.com/75332256/156524368-98097888-0991-46b4-9

[2022-03-03 08:34] Simran2337 commented on #133
Hey! I am a GSSOC'22 participant , I would Like to enhance the social media icons also add a link behind them so that they can be directly referred to when they click.
Please assign it to me.

[2022-03-03 08:36] Simran2337 commented on #114
Heyy ! I am a GSSOC participant.
I am well conversed in MEAN stack , I can help others with some resources
Assign me this task.

[2022-03-03 09:25] shrutiverma13 opened #144 "include ejs partials"
For all the webpages, a lot of code is being repeated like footer, nav, body tags etc.

Using ejs partials, and dividing the code into separate files, having a common boilerplate, the repetition of code can be minimized.

Under Gssoc'22, I want this issue assigned to me.

[2022-03-03 09:26] shrutiverma13 commented on #144
Please assign the issue to me.

[2022-03-03 09:43] 02prags commented on #135
Hello,
The default scrollbar does not look nice in dark mode and therefore I would like to add a custom scrollbar to improve the UI.

[2022-03-03 12:00] A-Spiral-Forge opened #145 "Improving user experience of resource navigation."
**Is your feature request related to a problem? Please describe.**
Yes, this navigation gives a very bad look to the website. Users may get frustrated.

**Describe the solution you'd like**
I want to make the navigation of the resource page more attractive. Also want to add hover and focus animations.

**Describe alternatives you've considered**
Also, we can make a button from which users can open

[2022-03-03 12:01] A-Spiral-Forge commented on #145
@vijayyprajapati Please assign this issue to me under GSSOC'22.

[2022-03-03 12:15] anu-phoenix opened #146 "Modifying Footer"
**Is your feature request related to a problem? Please describe.**
It is very plain nor the UI is appealing also the components are not placed properly. And the icons are also very large.

**Describe the solution you'd like**
I would like to redesign the footer and its contact form and also few changes in the positioning of elements.

**Describe alternatives you've considered**
NA

**Additional co

[2022-03-03 13:57] 02prags commented on #128
Hello @AMAN123956 Sir,
The navigation can be made better by inserting more buttons like features , contact, sign in , log in and a search bar. Also I would like to add a back button.
I would like to work on this issue please assign this issue to me.

[2022-03-03 15:17] Sanghu01 commented on #6
I WANT TO WORK IN THIS ISSUE UNDER GSSOC'22.

[2022-03-03 15:18] Sanghu01 commented on #3
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-03 15:18] Sanghu01 commented on #7
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-03 15:19] Sanghu01 commented on #25
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-03 15:19] Sanghu01 commented on #44
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-03 15:51] Shobhit61730 commented on #146
Hey...Can I fix this issue ?

[2022-03-03 15:52] Shobhit61730 commented on #139
Can I fix this issue?

[2022-03-03 16:56] Ashish4321-hub commented on #81
I'm gssoc contributor and I want to work on this issue ... please assign me

[2022-03-03 17:14] hk2257853 opened #149 "Scroll back to button"
Can I add a scroll back to top button?
Will be great if this is assign to me under GSSOC 2022.
Thank you.

[2022-03-03 17:21] hk2257853 opened #150 "Lower part of page doesn't look good"
![Screenshot_20220303-224910_Brave](https://user-images.githubusercontent.com/70331405/156617375-9b1edfbb-013d-4144-848d-c3a2e7d8fefe.jpg)

Can I make this part looks better on smartphone? Just a quick fix. Will be great if can be assigned used Gssoc2022. Thank you.

[2022-03-03 18:43] AbhaHimani commented on #146
Can I fix this?

[2022-03-03 18:44] AbhaHimani commented on #139
Can I fix this?

[2022-03-03 18:44] AbhaHimani commented on #131
Hey,
I'm a GSSOC' 22 Contributor, Please assign me this issue. I will do the work!

[2022-03-03 18:46] AbhaHimani commented on #150
Can I fix this?

[2022-03-03 18:52] hk2257853 commented on #150
Bro Iam a contributor asking if I can fix this😅.

[2022-03-04 03:14] sceary-expert commented on #3
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 05:48] kanthalaHarivardhanReddy commented on #131
@AbhaHimani Hey, I'm already working on it

[2022-03-04 05:49] Ashish4321-hub opened #151 "Add styling and more animations on feature cards"
I am gssoc contributor and I want to add some styling on cards and some other hovering effects on cards and more animations on it.
Please assign me this work.

[2022-03-04 06:21] ishilpi commented on #3
Hi @AMAN123956 sir,
I am a GSSOC participant.
can you assign this issue to me ?  I would like to work on it.

[2022-03-04 06:24] MadhuSaini22 opened #152 "Website logo need to be style"
**Describe the bug**
Website's Logo is not visible properly, need to be add some styling on it.

**Expected behavior**
It should be eye comfortable to the users. So, in dark theme, it should be eye friendly and should add some css to it.

**Screenshots**
![2022-03-04 (1)_LI](https://user-images.githubusercontent.com/81684710/156710676-192978d2-fa64-4686-8b82-bfe59221b929.jpg)

**Additional context

[2022-03-04 07:30] Vinayakk404 opened #153 "Adding resources for python programming"
Hi i am a gssoc'22 contributor i would like to add a beginner friendly resource  that can help the beginner's new to the programming world for python language

[2022-03-04 08:32] keerthinamballa opened #154 "Adding Newsletter section"
Hello, I am GSSoC'22 participant. I would like to add newsletter section wherein students can subscribe to newsletter for getting updates. If you could assign this to me, I would start working on it. Looking forward for your reply.

[2022-03-04 09:42] AbhaHimani commented on #131
@kanthalaHarivardhanReddy oh okay :) all the best!

[2022-03-04 10:07] ronitrangwani commented on #146
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:08] ronitrangwani commented on #141
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:08] ronitrangwani commented on #133
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:11] deekshhaa commented on #139
can i get assigned to it?

[2022-03-04 10:12] deekshhaa commented on #150
can i fix it?

[2022-03-04 10:13] deekshhaa commented on #153
I will add projects ideas in diffrent level and practice questions for better understanding...
please assign it to me

[2022-03-04 10:43] HarshKumarChoudary commented on #125
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 15:11] suman-shah commented on #133
I would Like to enhance the social media icons  can you please assign this issue to me

[2022-03-04 15:13] suman-shah commented on #146
i want to design footer to look much attractive also as per  instruction can you please assign this issue to me

[2022-03-04 17:18] AdnanMuzavor opened #156 "Feature cards loks and hover."
**Describe the bug**
The cards shown under feature should have a cursor type pointer instead of mouse. Image(3rd card) looks intact

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'index.html'
2. Click on '....'
3. Scroll down to 'features card part'
4. See error and fix by adding necessary CSS in given classes.

**Expected behavior**
A clear and concise description of what you expecte

[2022-03-04 17:38] TG922 opened #158 "Feature : Adding Sticky Header"
### Description

- I want to add sticky header for this website.
- This feature will help user to easily move to other parts of your website without having to scroll all the way to the very top.
- Please assign me on this feature under GSSOC '22.

[2022-03-04 17:41] nidhihegde3108 commented on #81
Can I work on this issue as a contributor??

[2022-03-05 02:03] keerthinamballa commented on #154
Hello, I am GSSoC'22 participant. I would like to add newsletter section wherein students can subscribe to newsletter for getting updates. If you could assign this to me, I would start working on it. Looking forward for your reply. @singhania1408

[2022-03-05 03:39] maura-dev opened #159 "Enhance the mobile responsiveness of the home page"
The home page needs to look good on mobile, especially the contact  section and button

![Annotation 2022-03-05 043539](https://user-images.githubusercontent.com/67394368/156866257-442c6726-b4b9-431a-97e4-4feae69a74c9.png)
![Annotation 2022-03-05 043454](https://user-images.githubusercontent.com/67394368/156866263-cfe714d8-39fc-4e54-9c27-3b27c6e55e15.png)
s

[2022-03-05 04:34] vandana3869 commented on #152
I'm an GSSOc'22 participant, please Assign me this task with GSSOC'22 label

[2022-03-05 06:58] Cypher1002 commented on #159
hey , loved the ui design would love to work on the project could it be assigned to me through gssoc will try to implement grid template property to enhance the contact section and also thinking to add a hover effect if it fits with the project

[2022-03-05 07:04] Cypher1002 commented on #159
i am a beginner to  open source would be my first project so will need some mentor ship also

[2022-03-05 07:15] Ankita-singh-05 commented on #159
Hello @maura-dev! I want to work in this issue under GSSoC'22. Could you please assign it to me?

[2022-03-05 09:48] Abhilasha-Jairath commented on #152
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:49] Abhilasha-Jairath commented on #151
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:49] Abhilasha-Jairath commented on #146
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:49] Abhilasha-Jairath commented on #140
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:49] Abhilasha-Jairath commented on #133
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:50] Abhilasha-Jairath commented on #128
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:50] Abhilasha-Jairath commented on #121
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:51] Abhilasha-Jairath commented on #114
I want to work on this under GSSOC2022. Can you assign it to me. I have expertise in MERN stack and currently made 2 projects so i can do this effectively/

[2022-03-05 09:55] Abhilasha-Jairath commented on #109
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 11:04] gurjeetsinghvirdee commented on #114
Hey miss make you own issue, Don't comment on others issue by the way this issue for MEAN not MERN and checkout website MERN already exist

[2022-03-05 11:21] Cypher1002 commented on #159
/assign

[2022-03-05 11:31] prer45 commented on #81
Can I please work on this issue ?

[2022-03-05 12:30] NitinSohal commented on #136
Hey Can you assign me this issue for GSSOC '22.

[2022-03-05 13:00] mayank-del commented on #153
I also have good python resources, i also want to contribute in this .

[2022-03-05 13:21] krisha-a commented on #152
Hey, i would like to work on this issue under GSSOC'22. I am thinking of designing the logo that helps audience to focus on for better enhancement of the page in darkmode . Please assign me this task.

[2022-03-05 13:23] krisha-a commented on #149
A scroll back button would be a nice feature in the page. Please assign me to this task.

[2022-03-05 13:28] krisha-a opened #160 "The feature section doesn't look pleasant."
The feature  section in the dark mode doesn't give a pleasant look. I think we can give some styling to it to enhance its look for the public.
Will be pleased if you assign the task to me under GSSOC'22.

[2022-03-05 13:31] krisha-a commented on #150
Can i get assigned on this task under GSSOC'22,  the contact page doesn't look up to date.

[2022-03-05 14:32] Phalak-Sharma opened #161 "styling buttons on resource page"

[2022-03-05 14:47] gopi-png commented on #161
I had be glad to work on this issue.

[2022-03-05 17:14] Neha9849 commented on #156
I would like to work on this :)

[2022-03-05 17:19] Neha9849 commented on #156
That cards are not links they are just mentioning the features. So i think there is no point of making the cursor pointer.

[2022-03-05 18:34] Shobhit61730 commented on #161
Can you assign this issue to me ?

[2022-03-05 18:43] BhumikaJena commented on #130
Hey, I would like to work on this task to built a donation website can you please assign me this project. I am working under gssoc'22.

[2022-03-05 18:55] BhumikaJena commented on #159
Currently the home page and specially the contact section is not responsive making it difficult for the users to user it on small screen.
Therefore, I would like to make some improvements to it  and make it fully responsive.
I am a gssoc'22 participant . I would be glad if u assign this task to me.

[2022-03-05 19:18] smrithi1912 commented on #161
Hey, I would love to work on this issue. Being a front-end developer, it will not take much time to resolve it. Can you please assign it to me?

[2022-03-05 19:22] smrithi1912 commented on #144
@shrutiverma13 I am a beginner in this area of open source. If you don't mind can I work with you on this task?
It is a small and simple task but I would be glad if you could show me the process of resolving in short.

[2022-03-05 21:46] maura-dev commented on #159
@BhumikaJena  @Ankita-singh-05 @Cypher1002  I am also a contributor to gssoc, that was why I created the issue and it has been assigned to me

[2022-03-06 07:05] Tanvi444 commented on #146
I want to work on this under GSSOC2022. Can you assign this to me?

[2022-03-06 07:30] Tanvi444 commented on #158
Can you please assign this issue to me?

[2022-03-06 07:48] mayank-del commented on #151
I am also gssoc 22 participant, please assign me in this.

[2022-03-06 07:50] mayank-del commented on #130
Hey, I would like to work on this ,can you please assign me this project. I am working under gssoc'22.

[2022-03-06 07:52] Ankita-singh-05 commented on #159
Okay, Okay!

[2022-03-06 07:54] mayank-del commented on #146
I want to work on this under GSSoC' 22. Can you assign this to me?

[2022-03-06 07:55] mayank-del commented on #159
Hey @maura-dev! I want to work in this issue under GSSoC'22. Could you please assign it to me?

[2022-03-06 08:15] anand722000 opened #162 "Enhance the mobile responsiveness of the Resources Page"

[2022-03-06 08:19] anand722000 opened #163 "Enhance the mobile responsiveness of the Resources Page"
![Capture](https://user-images.githubusercontent.com/59029929/156914629-300e95d2-a52b-4e11-bc83-f31f8f80b1f1.JPG)
Resources Page of Quick Learner is not mobile Responsive and BY using Bootstrap we can achieve it. Background image, 3d animation, coloring, or we can make it more interactive. we can also include video resources in Resources Page (video Resources attract students more).
I have already

[2022-03-06 08:21] #162 closed

[2022-03-06 08:39] tyagipriyanshi79 commented on #140
Hey !! can you assign this issue to me because i know how to convert it into dark mode using reactjs .
With the help of  createTheme from material-ui I'll able to write a clean and understable code . I want to create this amazing UI change !!

[2022-03-06 09:05] YashBawa commented on #136
Hello , This is Yash participant under Gssoc 22 , would like add this feature "Scroll back to top bottom" to this amazing website , I will be using Jquery function ,  an attractive arrow and a simple animation by Jquery i to take the user to the top .
This will definitely help the user at the website to get a better interface of the website and easily access the social media handles at the bottom

[2022-03-06 09:09] mayank-del commented on #146
![Screenshot 2022-03-06 142435](https://user-images.githubusercontent.com/82238106/156916493-c8b692f5-8898-4ade-8948-5f829b7bd64f.png)

In footer there are responsiveness issue , user cant type messages in small devices like phone , Can i work on it? u can see this screenshot also.

[2022-03-07 04:27] Pranjali-49 commented on #135
Hello, I want to work on this issue under GSSOC'22. Please assign me this issue.

[2022-03-07 09:24] VedanshiDixit commented on #161
Hey,I would like to work on this issue.

[2022-03-07 09:25] VedanshiDixit commented on #160
Hey,I would like to work on this issue.

[2022-03-07 09:30] VedanshiDixit commented on #121
Hey,I would like to work on this issue.

[2022-03-07 09:30] VedanshiDixit commented on #129
Hey,I would like to work on this issue.

[2022-03-07 09:31] VedanshiDixit commented on #133
Hey,I would like to work on this issue.

[2022-03-07 09:31] VedanshiDixit commented on #136
Hey,I would like to work on this issue.

[2022-03-07 09:32] VedanshiDixit commented on #135
Hey,I would like to work on this issue.

[2022-03-07 09:32] VedanshiDixit commented on #141
Hey,I would like to work on this issue.

[2022-03-07 10:19] Sanghu01 commented on #140
i want to contribute in this issue under gsscoc'22

[2022-03-07 13:37] srummanf commented on #146
Hello can you assign me this issue , I am a GSSOC 22 Contributor

[2022-03-07 15:02] iScreenager opened #166 "In cyber security text are over flow"
![bug](https://user-images.githubusercontent.com/87562957/157059634-4a8dc85f-3df8-400c-8122-01c793ac6813.PNG)

[2022-03-07 16:53] Himanshi236 commented on #158
Hey, the header for this website can be made more attractive and I would like to work on improving it. Can you assign me this issue under GSSOC '22?

[2022-03-07 17:03] 89-manshi commented on #152
Hey , I want to work on the logo of this website .pls assign it to me.

[2022-03-07 17:17] 89-manshi opened #167 "improve the contact page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-07 17:17] 89-manshi commented on #167
Improve the contact page

[2022-03-07 18:22] Krupali-Tandel commented on #167
Hey I would like to work on this issue

[2022-03-07 18:43] Pranjali-49 commented on #149
I want to work on this issue under GSSOC'22.

[2022-03-07 18:44] Pranjali-49 commented on #150
Can you please assign me this issue, I want to work on this under GSSOC'22.

[2022-03-07 23:06] VaishnaviDontha commented on #167
Hey, I would like to collaborate too.

[2022-03-08 03:11] saidhanya18 commented on #44
could you please this issue to me

[2022-03-08 04:05] Sakshi-1701 commented on #3
Hello @AMAN123956 sir,
I would love to work on this.
It would be great if you could assign this issue to me.

[2022-03-08 04:28] kunarkrawat commented on #167
Hey, I would like to work on this issue.

[2022-03-08 04:29] kunarkrawat commented on #106
Hey I would like to work on this issue

[2022-03-08 04:32] BabyElias opened #168 "Enhancing the Contribution Page in Light-Mode"
![Comparison_Collage](https://user-images.githubusercontent.com/95405559/157166260-1aa13d9a-8726-4fa2-b47c-f4b1e3d4b852.jpeg)
The contribution page in the dark mode looks really good because of the color contrast between contents of bold headings and the inside text , but in light mode these changes are not very clear.In my opinion, indentation can help improve the layout to a large extent.

Also,

[2022-03-08 04:56] gurjeetsinghvirdee commented on #106
Please make your own issues don't comment on others and by the way how can you contribute there is no PA in discord and mentors don't have access to this repo

[2022-03-08 06:42] satyam1511 commented on #167
Hey , I would like to contribute in this issue.

[2022-03-08 10:28] vijayyprajapati commented on #166
ya sure

[2022-03-08 13:08] Naman21-web commented on #160
Please assign this to me

[2022-03-08 14:13] purohitmansi commented on #167
Hello @89-manshi!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 14:20] iScreenager commented on #166
sir why you closed this issue?

[2022-03-08 16:15] VaishnaviDontha opened #170 "[Contact Us - Section] Blocking user entering invalid email ID"
**Describe the bug**
Blocking user entering invalid email ID

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Contact us' Section
2. Enter details for Name, Email ID, Message
3. Hit 'Submit'

**Expected behavior**
Form is accepting invalid email ID data

**Screenshot**

<img width="800" alt="Screen Shot 2022-03-08 at 11 06 33 AM" src="https://user-images.githubusercontent.com/77274387/

[2022-03-08 20:39] Ash-KODES opened #171 "Adding licence in readme"

[2022-03-09 05:19] prachi1211 commented on #152
Hey, I am GSSOC Contributor pls assign this task to me.

[2022-03-09 05:22] prachi1211 commented on #149
Hey, I am GSSOC Contributor kindly assign this issue to me.

[2022-03-09 05:24] Keyurchaniyara commented on #152
Hello @MadhuSaini22

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make logo for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:24] Keyurchaniyara commented on #149
Hello @hk2257853

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make fevicon for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:27] Keyurchaniyara commented on #136
Hello @TG922

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make fevicon for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:28] prachi1211 commented on #136
Hey, I am GSSOC Contributor. Please assign me this task.

[2022-03-09 05:35] Keyurchaniyara commented on #146
Hello

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make footer for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:36] prachi1211 commented on #146
Hello
I am a Gssoc'22 Contributor. Kindly assign me this task

[2022-03-09 05:36] Keyurchaniyara commented on #133
Hello

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make SM icons for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:36] prachi1211 commented on #133
Hello
I am a Gssoc'22 Contributor. Kindly assign me this task

[2022-03-09 05:37] Keyurchaniyara commented on #44
Hello

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make fevicon for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:38] vijayyprajapati commented on #166
Heyy @iScreenager !!!
It is open now.
Please fix the problem.

[2022-03-09 05:38] prachi1211 commented on #44
Hello
I am a Gssoc'22 Contributor. Kindly assign me this task.
Thank You.

[2022-03-09 05:50] YatreeLadani commented on #152
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 05:50] YatreeLadani commented on #149
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 05:51] YatreeLadani commented on #136
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 05:52] YatreeLadani commented on #146
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 05:52] YatreeLadani commented on #133
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 05:53] YatreeLadani commented on #44
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 07:48] AMAN123956 commented on #137
@Rhydham2809 can u explain little bit about how will you implement this

[2022-03-09 07:50] #104 closed

[2022-03-09 07:51] AMAN123956 commented on #87
@Prit33 can u tell what kind of changes u are thinking of

[2022-03-09 07:52] AMAN123956 commented on #25
@harshitab07 are u still interested in working in this issue

[2022-03-09 07:55] AMAN123956 commented on #3
@akashroy1 @Sakshi-1701 @ManaliPawar @Sanghu01 @ritikaaaa177 u all can work on this issue

[2022-03-09 07:56] AMAN123956 commented on #6
@tishaag098 are u still interested in working on it

[2022-03-09 07:57] AMAN123956 commented on #7
@1ananya3 are u still interested on working in this issue

[2022-03-09 07:59] AMAN123956 commented on #8
@anish2210 are u still interested in working on this issue

[2022-03-09 08:01] AMAN123956 commented on #9
@Siddhi-Mundada are u still interested in working on this issue

[2022-03-09 08:03] AMAN123956 commented on #18
@anish2210 u can work on this project can u explain how u can improve this project or resolve any issues

[2022-03-09 08:05] AMAN123956 commented on #44
For now current favicon is good enough so I am closing this issue u all can work on other issues that are there

[2022-03-09 08:05] #44 closed

[2022-03-09 08:09] AMAN123956 commented on #81
@nidhihegde3108 u can work on this issue

[2022-03-09 08:36] SainathPoojary opened #172 "Dark Theme not working in Resource.html"
**Describe the bug**
Dark Theme is not working on the Resource.html page

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://dsc-jss-noida.github.io/QuickLearn/resource.html
2. Click on the Dark Theme icon at the top right corner
3. Page will not change into the dark mode

**Expected behaviour**
Dark Mode

**Screenshots**
![image](https://user-images.githubusercontent.com/53347682

[2022-03-09 11:30] #110 closed

[2022-03-09 11:49] rucha0702 commented on #172
This issue was created before and a PR for the same has been merged. But no worries, you can try on something else.

[2022-03-09 11:49] #172 closed

[2022-03-09 16:58] prachi1211 commented on #149
Hello,
I am GSSOC Contributor. I am delighted to take this task. Assign me this task.

[2022-03-09 17:05] shilpiverma24 commented on #3
Hi @AMAN123956 sir,
I am a GSSOC participant.
I would like to work on it.  please assign me this issue.

[2022-03-11 06:20] saketsagarsingh commented on #140
/assign

[2022-03-11 08:08] Admiller03 commented on #3
Hi. Im a GSSOC participant, can i add some resources ?

[2022-03-11 10:48] nitishsaini706 commented on #166
@vijayyprajapati I fixed this
@iScreenager Are you working on it or should I push my code and make a pr

[2022-03-11 10:59] nitishsaini706 opened #178 "Explore card on click is not working"
After clicking Explore card in features section ,It's not redirecting to resources page

[2022-03-11 11:52] nitishsaini706 commented on #166
@vijayyprajapati I created a pr to fix this issue , you can review it

[2022-03-11 13:33] #166 closed

[2022-03-11 13:57] nitishsaini706 commented on #166
@iScreenager You didn't merged my pr , can you please review my pr, it fixes the issue #180

[2022-03-11 17:38] roy-shivam commented on #150
Can I get assigned on this task.

[2022-03-11 17:41] roy-shivam commented on #146
I would like to redesign the footer and its contact form. please assign me.

[2022-03-11 17:42] roy-shivam commented on #145
I want to make the navigation of the resource page more attractive. can u please assign me this for doing my best..

[2022-03-11 17:45] roy-shivam commented on #142
i can do this task. please assign me.

[2022-03-11 17:53] roy-shivam opened #181 "social icons appearence in attractive way"
i want to improve the apperence of social icons in attractive way.

[2022-03-11 17:59] roy-shivam opened #182 "background view modification"
**Is your feature request related to a problem? Please describe.**
the background of web pages is very simple.

**Describe the solution you'd like**
I would like to add some animated background according to selected stream.

[2022-03-11 18:00] roy-shivam commented on #182
please assign me this task.

[2022-03-11 18:02] roy-shivam commented on #170
i want to work on this issue by using email filtering.

[2022-03-12 04:53] haritdheer opened #183 "Animation effect on social media links."
Hey @Harshil-Jani ,I want to collaborate on this project under GSSOC '22 . Please assign this project to me.

[2022-03-12 06:06] YalfamIamShaon opened #184 "Adding new resources to the Blockchain Development page and enhancing the visibility of the courses section in Dark mode"
Hello, @QuickLearn, I am Shaon Dhar, a GSSOC 22 contributor. I saw your website and the resources there are really good. And recently I started learning Blockchain Development, so I think I can add some amazing resources there, which also include some projects as well (this can help learners to kickstart their journey).
And also, when I go Darkmode, It's hard to see the courses type ('Beginner', '

[2022-03-12 10:06] vijayyprajapati commented on #182
Hey @roy-shivam
Loved your suggestion but can you please tell us more about what you want to do.

[2022-03-12 10:48] Harshil-Jani commented on #183
I am also contributor !
Ping @rucha0702  @AMAN123956.
They are maintainers.

[2022-03-12 14:07] Areebah03 opened #185 "Sticky Navbar"
I want to make navbar sticky. Please assign it to me.

[2022-03-12 14:10] Areebah03 opened #186 "Adding link in navbar"
I want to add a logo and links in navbar for feature, contact and About us section.

[2022-03-12 16:13] Apexshya commented on #183
I am GSSOC '22 participant and I want to work on this issue. Please assign me this project.

[2022-03-12 16:19] Apexshya commented on #167
I am GSSOC'22 contributor and I would like to work on this issue. Please assign this to me.

[2022-03-12 17:38] ABHID10 opened #187 "Text not visible clearly in Dark Mode."
**Describe the bug**
Text color not visible clearly in Dark Mode on https://dsc-jss-noida.github.io/QuickLearn/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://dsc-jss-noida.github.io/QuickLearn/'
2. Click on 'Dark - Mode button'
3. Scroll down to 'Hackfest @GDSC- Main Paragraph'
4. See error

**Expected behavior**
Main paragraph text should be visible clearly to the users.

*

[2022-03-12 17:40] ABHID10 commented on #187
GSSoC-22
Would like to solve this issue !!

[2022-03-12 18:55] vijayyprajapati commented on #187
Hey @ABHID10
Thank you for showing interest in the project.
You have suggested good changes.
We would like you to solve the issue.

[2022-03-12 18:58] #178 closed

[2022-03-12 19:07] vijayyprajapati commented on #186
Hey @Areebah03
Thank you for showing interest in the project.
We appreciate your suggestion but can you please provide us with more information about the changes you wanted to do.

[2022-03-12 19:13] vijayyprajapati commented on #183
Hey @Harshil-Jani
We have assigned you to the issue. Now you can work on the issue.

[2022-03-12 19:23] vijayyprajapati commented on #114
Hey @gurjeetsinghvirdee
We have assigned you for adding more resources to MEAN Stack.

[2022-03-13 04:19] Areebah03 commented on #186
Hey @vijayyprajapati
In want to add a logo in navbar and contents like About us  feature, contact us that will scroll down to particular section.

[2022-03-13 05:44] Yashi2002 commented on #183
I am GSSOC '22 participant and I want to work on this issue. Please assign me this project.

[2022-03-13 05:45] Yashi2002 commented on #167
I am GSSOC '22 participant and I want to work on this issue. Please assign me this project.

[2022-03-13 05:46] Yashi2002 commented on #152
I am GSSOC '22 participant and I want to work on this issue. Please assign me this project.

[2022-03-13 07:06] ratika-12 commented on #171
hey  @Ash-KODES I want to work on this

[2022-03-13 07:35] AMAN123956 commented on #156
@AdnanMuzavor there is no need for this right now
So I am closing this issue for now

[2022-03-13 07:35] #156 closed

[2022-03-13 07:36] #87 closed

[2022-03-13 08:57] jagadeeshvr commented on #186
Hello @vijayyprajapati
I'm Contributer in GSSoC22,Can u assign this to me.I will create responsive nav bar by adding home screen link,suport link,help link and contact us and next pages link in nav bar itself

[2022-03-14 09:52] Dhananjaysharma207 commented on #183
I am GSSOC '22 participant and I want to work on this issue as i have recently got the solution of making it more effective. Please assign me this project.

[2022-03-14 10:09] ishika-rg commented on #139
Hello!
I would like to work on this issue. The cards and categories can be made more attractive using CSS.
Can you assign it to me?

[2022-03-14 12:49] rucha0702 commented on #183
@haritdheer go ahead

[2022-03-14 12:52] rucha0702 commented on #146
@anu-phoenix go ahead

[2022-03-14 12:57] rucha0702 commented on #150
It's already being addressed here #146

[2022-03-14 12:57] #150 closed

[2022-03-14 12:59] rucha0702 commented on #152
@MadhuSaini22 you may work on it

[2022-03-14 13:01] rucha0702 commented on #153
We do not more resources as of now unless you are introducing new domains. I would suggest you to work on UI changes.

[2022-03-14 13:02] #153 closed

[2022-03-14 13:03] rucha0702 commented on #154
@AMAN123956 do we need this?

[2022-03-14 13:05] rucha0702 commented on #158
@TG922 go ahead

[2022-03-15 02:21] AMAN123956 commented on #170
@VaishnaviDontha you can start working in this issue

[2022-03-15 02:22] #105 closed

[2022-03-15 02:23] #3 closed

[2022-03-15 02:23] #6 closed

[2022-03-15 02:23] #7 closed

[2022-03-15 02:23] #8 closed

[2022-03-15 02:23] #9 closed

[2022-03-15 02:24] #18 closed

[2022-03-15 02:24] #81 closed

[2022-03-15 02:25] #85 closed

[2022-03-15 02:25] #106 closed

[2022-03-15 02:32] #142 closed

[2022-03-15 06:41] Siddhi-Mundada commented on #181
I would like to work on this for GSSOC'22 .Please assign this to me.

[2022-03-15 09:56] #125 closed

[2022-03-15 10:02] rucha0702 commented on #146
Change the background color of footer for both light and dark mode. It is responsive now
![image](https://user-images.githubusercontent.com/77936051/158353640-73e7c508-e9b0-41ab-a866-5c672e164576.png)

[2022-03-15 12:51] rucha0702 commented on #159
@maura-dev assigned it to you. Make sure to pull the code before contributing

[2022-03-16 06:04] deepak759 opened #194 "improving join us area."
In join us area, all things are looking messy, and in dark mode it also not looking good.
I want to improve its design  .
I also want to add feature of on clicking  main location it directly open google maps and direction for this, and on clicking mail us it directly open mailing app for mailing  and on clicking contact it directly copy the phone number or if we are in phone it directly open conta

[2022-03-16 15:45] paul-111 commented on #194
can i get assignned to it

[2022-03-17 04:15] heyvats21 opened #195 "change Stop Searching Start Learning section in index.html page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-17 04:17] heyvats21 commented on #195
Will change design of this section.
I want to work on this issue under GSSOC'22 .

![image](https://user-images.githubusercontent.com/81029204/158736195-8d82aa3e-0208-4031-8359-805b5f161380.png)

[2022-03-17 05:59] #187 closed

[2022-03-17 07:31] Debdeepghosal opened #196 "Website logo not properly visible in dark mode"
**Describe the bug**
The website logo is not properly visible in dark mode

**Expected behavior**
It should be properly visible in dark mode but shouldn't hinder the theme of the website

**Screenshots**
Before:
![Screenshot 2022-03-17 124654](https://user-images.githubusercontent.com/99573906/158758647-581acebb-705e-445a-a178-1ff3679d9e99.png)
After:
![Screenshot 2022-03-17 124638](https://user-i

[2022-03-17 13:54] the-macson commented on #196
Thank you for showing your interest.
Someone worked on this issue and currently their PR is under review

[2022-03-17 15:46] gurjeetsinghvirdee opened #197 "Add Javascript Resources"
Hey, I want to add Javascript Resources in Programming
Please assign me as GSSOC contributor

[2022-03-18 05:05] the-macson commented on #163
I assigned issue to you @anand722000

[2022-03-18 06:53] aaryahjolia commented on #183
Can I work on this under GSSoC'22 ?
I will change the icons to circle shape and will add hover effects that will swap the background and fill color when hovered.

[2022-03-18 08:40] rohitkhicher001 commented on #185
I would like to work on this issue as a GSSOC'22 contributer.

[2022-03-18 08:41] rohitkhicher001 commented on #129
I would like to work on this issue as a gssoc'22 participant.

[2022-03-18 10:30] rucha0702 commented on #183
You may work on this @aaryahjolia

[2022-03-19 10:11] #159 closed

[2022-03-19 11:34] the-macson opened #200 "we need git commands related to upstream and instructions to pull code in the contribution guidelines page"
changes required here:
![image](https://user-images.githubusercontent.com/77936051/159134192-3c8ba796-11e6-4f94-bb34-42937a04d4f3.png)

[2022-03-19 11:50] aytida0606 commented on #200
i want work on this issue.

[2022-03-19 13:53] aytida0606 commented on #200
added upstream commands #201

[2022-03-19 13:55] the-macson commented on #200
@aytida0606 I assigned issue to you
You can start work on this issue

[2022-03-19 15:14] TG922 commented on #158
@rucha0702 I'm almost done with the issue I will send PR regarding this tomorrow

[2022-03-19 19:28] Sandhya312 opened #202 "Improving the feature section"
**Description**
The size of the card is not equal in the feature section.

**Screenshots**
![FeatureSection](https://user-images.githubusercontent.com/85842071/159135599-c3ab3fe1-5260-49da-9413-5f9a5b2f6bac.png)

[2022-03-19 19:29] Sandhya312 commented on #202
I am a GSSOC'22 contributor.
I want to work on this project. Please assign it to me.

[2022-03-20 06:54] wre9-tesh opened #203 "change thumbnail for sections inside Categories ."
I think we should change the thumbnail in sections inside Categories to better match the overall color scheme of the page
![image](https://user-images.githubusercontent.com/96977189/159173129-81f725dd-53a0-446d-8ed6-368fb1892723.png)
maybe like this

[2022-03-20 06:55] wre9-tesh commented on #203
i am a gssoc participant ,can i take this issue?

[2022-03-21 11:18] #141 closed

[2022-03-21 17:06] pushpanjali-10 commented on #149
I'm Contributor in GSSoC22 . Can u assign this to me.

[2022-03-21 17:06] pushpanjali-10 commented on #194
I'm Contributor in GSSoC22 . Can u assign this to me.

[2022-03-21 18:13] #183 closed

[2022-03-22 06:56] khushbubijawat commented on #167
I am GSSOC'22 contributor and I would like to work on this issue. Please assign this to me.

[2022-03-22 07:20] khushbubijawat commented on #139
Hello!
I would like to work on this issue.

[2022-03-22 08:30] khushbubijawat commented on #202
I am a GSSOC'22 contributor.
I want to work on this project. Please assign it to me.

[2022-03-22 08:31] khushbubijawat commented on #185
I would like to work on this issue as a GSSOC'22 contributer.

[2022-03-22 08:32] khushbubijawat commented on #121
Hey,I would like to work on this issue.

[2022-03-22 08:43] khushbubijawat commented on #129
I would like to work on this issue as a gssoc'22 participant.

[2022-03-22 11:44] AMAN123956 commented on #202
@Sandhya312 any updates?

[2022-03-22 14:31] vksh-chandra commented on #167
I am GSSOC'22 contributor and I would like to work on this issue. Please assign this to me.

[2022-03-24 02:16] rucha0702 commented on #195
@heyvats21 Any progress here?

[2022-03-24 02:23] rucha0702 commented on #184
Dark mode seems fine now. You may add blockchain resources.

[2022-03-24 02:24] rucha0702 commented on #163
@anand722000 any updates?

[2022-03-24 02:25] rucha0702 commented on #161
Can you describe the changes you want to make here?

[2022-03-24 03:49] anand722000 commented on #163
@rucha0702 70% done... let me complete as much early

[2022-03-24 04:47] heyvats21 commented on #195
Yeahh i ll update it soon

On Thu, 24 Mar 2022, 07:47 Rucha Kasture, ***@***.***> wrote:

[2022-03-24 10:29] #202 closed

[2022-03-24 10:57] the-macson commented on #107
Issue was fixed

[2022-03-24 10:57] #107 closed

[2022-03-24 11:02] the-macson commented on #109
Now we have no plans for testimonials, Offer on Courses etc.
That's why i am closing the issue
Thank you for showing your interest

[2022-03-24 11:02] #109 closed

[2022-03-24 14:56] AMAN123956 commented on #203
@wre9-tesh  u can work on this issue

[2022-03-24 17:18] khushbubijawat commented on #146
i would like work on this issue?

[2022-03-25 04:41] the-macson commented on #200
In this issues worked is done
That's why i am closing the issue

[2022-03-25 04:42] #200 closed

[2022-03-25 04:42] the-macson commented on #197
Great work @gurjeetsinghvirdee

[2022-03-25 04:43] #197 closed

[2022-03-25 04:44] the-macson commented on #195
Ok

[2022-03-25 04:47] the-macson commented on #186
@vijayyprajapati please review this issue.

[2022-03-25 04:52] #185 closed

[2022-03-25 04:53] the-macson commented on #194
Any update @deepak759

[2022-03-25 04:54] deepak759 commented on #194
@the-macson yes I am working on this.

[2022-03-25 04:55] deepak759 commented on #194
@rucha0702 thanks for assigning it to me.

[2022-03-25 04:56] the-macson commented on #182
there is no update regarding issue so I am closing this issue

[2022-03-25 04:56] #182 closed

[2022-03-25 04:57] the-macson commented on #181
@roy-shivam can you more elaborate what you want to improve

[2022-03-25 04:59] the-macson commented on #170
Any update @VaishnaviDontha

[2022-03-25 05:01] the-macson commented on #168
On this issue work has been done
Thank you for your suggestions

[2022-03-25 05:02] #168 closed

[2022-03-25 05:02] the-macson commented on #194
Great @deepak759

[2022-03-25 05:04] the-macson commented on #167
@Krupali-Tandel any update ?

[2022-03-25 05:13] the-macson commented on #160
can you elaborate on what you want to do? @krisha-a

[2022-03-25 05:15] the-macson commented on #158
Thank you for showing your interest
Work on this issue was done

[2022-03-25 05:15] #158 closed

[2022-03-25 05:17] the-macson commented on #154
@rucha0702 @AMAN123956
Can you review this issue again

[2022-03-25 08:04] krisha-a commented on #160
Just wanna apply css on the feature section

On Fri, Mar 25, 2022, 10:43 Mukesh Kumar ***@***.***> wrote:

[2022-03-25 13:38] aytida0606 commented on #115
I want to work on this issue.

[2022-03-25 15:19] the-macson commented on #160
Ok go ahead
I am assigning this issue to you @krisha-a

[2022-03-25 15:21] #171 closed

[2022-03-26 07:48] #115 closed

[2022-03-26 10:30] Areebah03 opened #210 "Back to top button"
**Is your feature request related to a problem? Please describe.**
The website does not have a back to top button.

**Describe the solution you'd like**
I want to add a back to top button in website.

[2022-03-26 14:16] SamarthKadam opened #211 "Adding A bit of imporovement"
Your web Page has an Amazing UI .So Thought of making below Changes
  * Navbar should become sticky only when it is scrolled down to a certain position.
  * Animation a little bit at below contact section
 Can I make the above changes?

[2022-03-26 19:36] AsmaIbrahimButt opened #212 "Improve the styling of buttons under categories"
I want to enhance the styling of buttons that are under the categories section.The shape and alignment does not looks good when a user visit that page .
![butt](https://user-images.githubusercontent.com/89297894/160254546-0ca4f5cc-6e23-4395-84a8-0b9fddecb907.png)

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-03-27 17:46] TG922 opened #214 "Feature : Adding Scroll back to top button matching theme of website"
## Description

- I would like to add a scroll back to the top button that matches the theme of the website.
- I have already worked on it will send PR within some time after being assigned.

## Screenshot
![Image55](https://user-images.githubusercontent.com/70098839/160293798-0e7906c8-8007-4c9a-ab17-6fd17f829b36.PNG)

[2022-03-27 17:49] #135 closed

[2022-03-27 17:49] #136 closed

[2022-03-27 18:22] TG922 opened #215 "Feature : Adding Responsive Scroll bar matching theme of website"
## Description

- I would like to add a responsive scroll bar matching the theme of the website
- I have already worked on it will send PR within some time after being assigned.

## Screenshot
![Image56](https://user-images.githubusercontent.com/70098839/160295083-9ed1244c-cfd6-46c7-acc4-a56e55b42fb7.PNG)

[2022-03-27 18:42] TG922 opened #216 "Bug : User can click submit button without Entering (Email/Name/Message) and also User can enter an invalid email ID"
**Describe the bug**

- User can click submit button without Entering (Email/Name/Message)
- User can enter an invalid email ID

**To Reproduce**
Steps to reproduce the behavior:

1. Go to **Contact Us**
2. Enter details **Email/Name/Message**
3. Click on **Submit**
4. See error

**Expected behavior**

- The form is accepting empty data
- The form is accepting invalid email ID data

-  I can fix i

[2022-03-27 20:00] rucha0702 commented on #214
I think someone is already working on this #177.  Issue will be assigned to you if needed, communicate there.

[2022-03-27 20:02] rucha0702 commented on #215
Just the theme color(light purple) would be fine. Remove the gradient.

[2022-03-27 20:06] rucha0702 commented on #212
Describe the changes @AsmaIbrahimButt

[2022-03-28 07:35] nitishsaini706 opened #218 "Changing the shadow color and style in reference container"
The shadow element on the heading in reference does not look appealing to the user and does not match the theme of the website
![shadow](https://user-images.githubusercontent.com/39373956/160348698-1819b7e7-457b-4e7c-ac72-70655e2651e6.jpg)

This second pic is more appealing and is matching the theme of the website

![theme shadow](https://user-images.githubusercontent.com/39373956/160348839-371bcb

[2022-03-29 05:58] Shatakshi-Choudhary commented on #149
Hey there! I want to work on this issue. I am a GSSoC'22 contributor & I will try my best to resolve this issue. Please assign this issue to me.

[2022-03-29 11:35] itsmohitnamdeo opened #220 "Embeding Google Maps and Improving Icons In Contact Section"
Hello
I am GSSOC'22 Contributor..

I wanted to embed Google Maps in Contact Section and making icon font better in the contact section, as More than 150 million users access Google Maps monthly.  Adding a responsive Google Maps widget can help consumers locate your customers’ businesses, gives credibility to their organizations, and improves the overall user experience. Embedding a map on your sit

[2022-03-29 11:39] itsmohitnamdeo commented on #181
Hello,
I am GSSOC Contributor
I am delighted to do this task  can you please Assign me this...

[2022-03-29 17:42] the-macson commented on #181
there are no response from @roy-shivam
that's why I am going to close this issue

[2022-03-29 17:42] #181 closed

[2022-03-30 03:31] itsmohitnamdeo commented on #149
Hello
I am GSSOC'2 Contributor
I am interested to solve this issue , can you please assign me this task....

[2022-03-30 04:03] rucha0702 opened #221 "Different thumbnails for Video and Documentation resources."
**Is your feature request related to a problem? Please describe.**
All resources have the same thumbnail. It would be easier for user to find a resource if they are categorized on the basis of video and documentation.

**Describe the solution you'd like**
We could have a different thumbnail depending upon the type of resource.

[2022-03-30 15:07] AsmaIbrahimButt commented on #212
Hi @rucha0702 I would improve the shape of button and  the margin .The width of that div in which these button are located should be changed a bit.

[2022-03-30 15:56] Sourajita21 commented on #186
Hello sir,
I am a GSSOC contributor. Can you please assign me this task. I will add a responsive nav bar and other features too and if you find any problem in my work then I will rectify as soon as possible. Please assign me this task. Thanks for your time.

[2022-03-30 15:59] Sourajita21 commented on #161
Hello, I can resolve this issue. Can you please assign me this task. Thank you

[2022-03-30 16:02] Sourajita21 commented on #149
Hello,
I am a GSSOC'22 contributor.
 I think it will be great if I add a scroll back button can you please assign me this task.
Thanks for your time.

[2022-03-30 17:40] Krupali-Tandel commented on #167
There  are some merge conflicts in the code .

[2022-03-31 05:37] the-macson commented on #203
work has been done by @wre9-tesh on this issue.
Good work bro

[2022-03-31 05:37] #203 closed

[2022-03-31 05:46] #215 closed

[2022-03-31 05:46] #214 closed

[2022-03-31 05:47] the-macson commented on #216
Any update regarding progress @TG922

[2022-03-31 05:50] #218 closed

[2022-03-31 05:51] the-macson commented on #195
Work done on this issue by @nitishsaini706

[2022-03-31 05:51] #195 closed

[2022-03-31 05:53] the-macson commented on #167
Ok
after resolving update me

[2022-03-31 06:06] the-macson opened #223 "Heading alignment is need on left side"
Heading alignment should be on the left side not on the center and heading of start learning is also on be left side but it's on center
![Screenshot (114)](https://user-images.githubusercontent.com/71259159/160987453-02ce498c-98a7-44f2-be75-11e64153f4c3.png)
![Screenshot (115)](https://user-images.githubusercontent.com/71259159/160987463-e4482290-39cf-42db-91bc-cd4de72c18b3.png)

**Screenshots**

[2022-03-31 10:26] #149 closed

[2022-03-31 19:54] fakoredeDamilola commented on #223
can I work in this

[2022-04-01 02:49] #220 closed

[2022-04-01 04:38] rucha0702 commented on #161
Can you describe the changes you want to make here?

[2022-04-01 04:39] rucha0702 commented on #161
Can you describe the changes you want to make here?

[2022-04-01 05:37] the-macson commented on #223
okay @fakoredeDamilola
I am assigning to you

[2022-04-01 07:32] Rishita489 commented on #223
Hey , @the-macson , I am GSSOC'22 contributor . I have solved the issue and also attached the screenshots below . Can you please assign this issue to me so that I can send the PR .
![image](https://user-images.githubusercontent.com/73689669/161216583-2ab1b561-c8f6-476b-9cb5-0a5c9268861c.png)
![image](https://user-images.githubusercontent.com/73689669/161216672-e6874dd9-1698-4822-acb4-8b82a4bd44b1.

[2022-04-01 08:09] the-macson commented on #223
Okay I am assigning to you @Rishita489

[2022-04-01 08:54] Ranjana550 opened #225 "Can I add value to textarea in contact us like "Enter your message"?"
Here, like just how it is been mentioned for name and email id, can we add for the query box as well?

![image](https://user-images.githubusercontent.com/71266173/161229764-038814fc-1457-45a5-a12c-4a5ef7f8a9e3.png)

if yes,  I would like to work on this issue. Kindly assign it to me.

[2022-04-01 11:47] Abhay2002r commented on #223
hey, @the-macson  I already sent a pull request to you, Please let me know if there are any issues you found !!

[2022-04-01 12:13] Rishita489 commented on #223
Ok I will send the PR . You please review and merge it .

[2022-04-01 12:39] Abhay2002r commented on #223
hey @the-macson, I have solved my issue, please review and merge it.

[2022-04-01 13:04] Rishita489 commented on #223
hey @the-macson , I am assigned this issue and I have send the PR , please review and merge it .

[2022-04-02 02:56] codingkush opened #227 "Improve the responsiveness of website"
I want to  improve the responsiveness of website in mobile view .The website doesn't looks good when a user visit website in mobile .

![Screenshot_20220402-081707](https://user-images.githubusercontent.com/78756312/161363193-3bccadc7-7f24-49f7-9269-0c4432a401cd.png)

[2022-04-02 02:57] codingkush commented on #227
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-04-02 04:39] the-macson commented on #223
okay

[2022-04-02 04:40] #223 closed

[2022-04-02 10:01] Areebah03 opened #228 "Logo in website"
**Is your feature request related to a problem? Please describe.**
This website does not have a logo.

**Describe the solution you'd like**
I want to add an image logo in website to enhance its UI. Please assign it to.

[2022-04-02 14:56] Kanika2772002 commented on #146
I have some fresh idea, I wannaa to work over there, @anu-phoenix can u assign me??

[2022-04-02 15:42] Kanika2772002 commented on #140
I can fix it in urgent basis, @naugsss can assign me.

[2022-04-02 17:59] shreyamedehal opened #229 "Scrollbar modifications"
1. Remove the scrollbar in mobile view
2. Add scrollbar according to the theme in the Resources page

[2022-04-03 03:02] rucha0702 commented on #228
Could you share the logo @Areebah03 ?

[2022-04-03 03:06] rucha0702 commented on #225
Yes, also can you align the content for all fields to the left?

[2022-04-03 03:11] rucha0702 commented on #212
@AsmaIbrahimButt I think the buttons look fine but you can work on improving the border of options when we click the button. The hover effect looks good, keep the same for onclick, remove the border. Can you do that?

![image](https://user-images.githubusercontent.com/77936051/161409550-de8cce2f-90c9-432b-8aa3-226178cd7e76.png)

[2022-04-03 03:15] rucha0702 commented on #140
@Kanika2772002 go ahead but make sure to share a screenshot here before creating a PR.

[2022-04-03 04:00] Ranjana550 commented on #225
Sure, I'll do it. Thank you! :)

[2022-04-03 06:37] Kanika2772002 commented on #140
ohky sure first i will share with u the ss of my work ....thank you .

On Sun, Apr 3, 2022, 8:46 AM Rucha Kasture ***@***.***> wrote:

[2022-04-03 07:32] Areebah03 commented on #228
![pic3](https://user-images.githubusercontent.com/85051124/161416715-c52344a4-7a77-42b2-b173-be207f917b38.jpg)
![pic5](https://user-images.githubusercontent.com/85051124/161416723-c6f0c9a4-9d82-451d-a74a-e2cfc4e89c28.png)
![pic6](https://user-images.githubusercontent.com/85051124/161416724-8c4aec27-8683-4673-ac96-d171a6a2691d.png)
![pic1](https://user-images.githubusercontent.com/85051124/16141672

[2022-04-03 07:33] Areebah03 commented on #228
These are some of the logo which I have chosen for the website. Kindly view it @rucha0702

[2022-04-03 12:29] gurjeetsinghvirdee opened #230 "Add GSSOC img in Readme"
I will add a Gssoc image in readme after hactoberfest
assign me as GSSOC Contributor

[2022-04-03 12:39] piyusha2001 opened #231 "Add project ideas for MERN under web development resources"
It will help people get better at using MERN stack by doing different projects . Please assign this issue to me under GSSoC'22.

[2022-04-03 14:01] astha2412 opened #232 "Improve Readme"
Want to add a section for Project admin and a section for mentors, it will contain their GitHub profile link. Plz assign me this issue.

[2022-04-03 14:58] gurjeetsinghvirdee opened #233 "Add MEVN Resources"
Want to add MEVN Stack resources as a GSSOC contributor

[2022-04-03 18:16] nik132-eng opened #235 "Improve Contact-us page UI"
**Is your feature request related to a problem? Please describe.**
It is a very basic page and it should be more attractive and good looking for any customer to contact the company.

![image](https://user-images.githubusercontent.com/77881638/161442159-991418d4-62ab-4842-b454-131cb4e620c0.png)

**Describe the solution you'd like**
I want to enhance it in a better way

[2022-04-03 18:17] nik132-eng commented on #235
Please assign me this issue for GSSOC

[2022-04-03 19:55] AsmaIbrahimButt commented on #212
Yeah, Kindly assign me.I would like to fix it.

[2022-04-04 05:13] cyberskull99297 commented on #229
Hello @shreyamedehal  , can you please assign this issue to me under GSSOC. I would love to work on it, Being a beginner, this will really help me learning to contribute.
Thanks

[2022-04-04 10:09] pragatisahoo2001 commented on #235
hello I am gssoc22 participant . I would like to enhance the contact us page please assign the work to me.

[2022-04-04 13:28] shreyamedehal commented on #229
Hey @cyberskull99297! I have opened this issue for myself, waiting for the project maintainers to assign it to me under GSSoC'22

[2022-04-04 13:33] cyberskull99297 commented on #229
Ok, I was a bit confused. Thanks for the information

[2022-04-04 14:37] TG922 commented on #216
Sorry, @the-macson I haven't received earlier any update regarding your comment in the mail.

I was busy in the hackathon and will send PR today.

[2022-04-04 18:23] gurjeetsinghvirdee opened #236 "Add Chatbot"
Assign me, I will add live chatbot to your site

[2022-04-04 20:24] #236 closed

[2022-04-05 05:19] gurjeetsinghvirdee opened #237 "Categroize the resources"
I will categroize the resources as updating the cards
So user will know which card belong to video or doc

[2022-04-05 05:22] rucha0702 commented on #237
@gurjeetsinghvirdee Already created the same issue #221

[2022-04-05 05:22] #237 closed

[2022-04-05 05:23] gurjeetsinghvirdee commented on #221
Assign me

[2022-04-05 05:34] rucha0702 commented on #235
@nik132-eng page looks fine, just left align the placeholder in the input fields and the location, email, contact text should also be left aligned.
You can improve the dark mode for this section

![image](https://user-images.githubusercontent.com/77936051/161685524-c596a3e7-0fa3-4ad4-915c-76b6b0daa898.png)

[2022-04-05 06:30] maheshdbabar9340 opened #238 "Need to improve some grammer punctuation mistakes on resource page"
![image](https://user-images.githubusercontent.com/53929423/161691878-79653c2e-ac47-49d0-bcc8-54deac22ad89.png)

Please assign this issue to me. I will correct those mistakes for adding fullstop at the end of the every line and will remove extra space as well.  So at the end it will be correct.

Waiting for your Good Resopnse.

Thank You.

[2022-04-05 08:58] Ranjana550 commented on #225
Heyy @rucha0702, it's done. I have made a PR as well. You can check it out.
If there are any more changes that need to be done, please let me know.
Thank you! : )

[2022-04-05 09:53] TG922 commented on #216
@the-macson I am sending my PR within some minutes

[2022-04-05 18:56] nik132-eng commented on #235
sure @rucha0702  ma'am

[2022-04-06 09:03] bajajharsha opened #242 "Add anchor tag"
**Is your feature request related to a problem? Please describe.**
The text should also contain an anchor tag. When someone hovers over, it should be linked.

**Describe the solution you'd like**
I'd like to add the anchor tag.

**Additional context**
![image](https://user-images.githubusercontent.com/85387921/161937839-e4cae695-ea3e-4b05-ab8e-697d584efad2.png)

[2022-04-06 10:20] piyusha2001 commented on #231
please assign me this under Gssoc

[2022-04-06 10:49] Sukriti-m opened #243 "Improving UX/UI of the resources page"
### Issue
The categories box looks very crowded.

![Screenshot (34)](https://user-images.githubusercontent.com/93239528/161958395-e618020b-59ba-4660-b267-923b69028ca8.png)

### Proposed Solution
I will increase the spacing between buttons and increase the width of box to improve the look of the page.

I'd be grateful if you could assign this task to me under GSSOC'22.

[2022-04-07 01:29] Kumar-laxmi opened #245 "Fix Resource Page in Mobile View"
**Describe the bug**
The Resource Page is not properly aligned in Extra-Small screen sizes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to More Tools
2. Click on Developer Tools
3. Scroll down to screen width less than 576px
4. See error

**Expected behavior**
For extra small screen sizes the Vertical Left Navigation Bar should collapse and all the instructions or stuff on left should

[2022-04-07 07:55] alisha-kamat opened #246 "Add PHP resources"
I plan on adding additional programming resources for PHP under GSSOC.

[2022-04-07 16:09] maheshdbabar9340 opened #247 "Want to add link for sending direct email.0"
**Is your feature request related to a problem? Please describe.**
An email text should also contain an anchor tag. When someone clicks on email, it should be linked for sending direct mail to  dscjssnoida@gmail.com.

**Describe the solution you'd like**
I'd like to add the anchor tag with the help of href attribute.

**Additional context**
Currently, when someone hovers, nothing is happening.

![

[2022-04-08 03:04] SachinMittal1766 opened #248 "Contact Us form"
**Describe the bug**
User is able to submit form after just adding space. So I think we need to improve it.

**Expected behavior**
If a user don't enter proper data then form should not be submitted.

[2022-04-08 03:04] SachinMittal1766 commented on #248
I am a GSSOC contributor. pls assign it to me.

[2022-04-08 11:24] SrajanAgrawal commented on #248
I can fix this issue. If you give it to me.

[2022-04-08 20:34] XZANATOL opened #249 "Fix Pointer Behavior on Resources Cards"
## Issue

Pointer turns into a cursor once I hover on a card which gives an indication that the card is a clickable link. While only the button inside the card is the only clickable element, which gives a lower rate for UX.

## Fix

Make the pointer only changes when hovering on the button, with leaving the rest of animations untouched.

## Demonstration Video

https://user-images.githubuserconten

[2022-04-09 06:26] Mik-27 commented on #249
I am a GSSoC Contributor. I would like to work on the issue.

[2022-04-09 07:21] primetime71 commented on #247
Can you assign this issue to me?

[2022-04-10 01:39] muhammadgalhoum opened #251 "Updating README.md file with the following changes"
### I will update the readme file with the following changes

- GSSoC 2022 Link and Image
- hackfest 2021 link
- Adding a Section for Project admin and another for Project mentors
- Adding the Demo video link for this repo
- Website for this repository

**Please assign me as a GSSOC Contributor**

[2022-04-10 01:41] muhammadgalhoum commented on #251
### Please assign this issue to me @rucha0702

[2022-04-10 07:59] aytida0606 opened #253 "Add ruby on rail resources"

[2022-04-10 09:25] aytida0606 opened #255 "Add Data Structure and Algorithms resources"
Want to add Different Data Structure and Algorithms resources

[2022-04-10 09:30] aytida0606 opened #256 "Add Database management resources"
want to add Database resources to repo.

[2022-04-10 09:33] aytida0606 opened #257 "Add API's resources"
I want to add API's resources to repo.

[2022-04-10 19:05] muhammadgalhoum commented on #251
### Can you please assign this issue to me and I will solve it asap @the-macson @vijayyprajapati

[2022-04-11 14:48] #216 closed

[2022-04-12 04:05] #255 closed

[2022-04-12 04:13] the-macson commented on #249
I am assigning to you @XZANATOL

[2022-04-12 04:14] #246 closed

[2022-04-12 13:25] #251 closed

[2022-04-12 13:31] muhammadgalhoum commented on #251
**You forgot to put the GSSoC label and level label on this issue
Please put these labels @vijayyprajapati
Thanks in advanced**

[2022-04-12 13:36] #245 closed

[2022-04-14 03:39] mayankesh239 commented on #221
Please assign this to me

[2022-04-14 05:21] aytida0606 commented on #221
I want to work on this issue .

[2022-04-14 09:07] Divya2163 commented on #247
I would like to work on this issue under gssoc'22. Can you assign me this, please?

[2022-04-14 10:58] NamanKothari5 commented on #248
I can try this

[2022-04-14 10:59] NamanKothari5 commented on #247
I would like to work on this

[2022-04-14 16:45] Kishandixit commented on #249
I wants to contribute or work on this issue.

[2022-04-15 12:13] pushpanjali-10 commented on #248
I want to work on this.

[2022-04-17 10:32] rucha0702 commented on #221
Are you working on this @mayankesh239?

[2022-04-17 10:49] Shaliniyadav8130 commented on #128
sir I also solved the same issue .

[2022-04-17 10:53] Shaliniyadav8130 commented on #167
Sir I improved the contact page

[2022-04-17 11:37] AsmaIbrahimButt commented on #212
Hi @rucha0702 Would appreciate to have a review on this pull request  https://github.com/DSC-JSS-NOIDA/QuickLearn/pull/252.THanks

[2022-04-17 19:20] XZANATOL opened #266 "Add Info Image animations"
**Is your feature request related to a problem? Please describe.**

Info Images are static on a modern styled page, which gives a boring view to the UI (bad UX review rate)

**Describe the solution you'd like**

Add animation to the info images to improve user interactivity and experience when visiting the site, as demonstrated in the video.

https://user-images.githubusercontent.com/64689436/1637

[2022-04-18 06:58] The-Arshad-Khan commented on #210
I Would Like To Add Back to top Button On the Website,
Please Assign Me This Issue Under GSSOC'22.

[2022-04-18 19:43] shivamagarwal2510 commented on #266
I have worked on this in my previous project. So, please assign this issue to me.

[2022-04-19 04:26] mayankesh239 commented on #221
Yes

[2022-04-19 13:06] #221 closed

[2022-04-19 13:29] rucha0702 opened #268 "Readme enhancement"
**Describe the bug**
1. logo alignment needs to be fixed.
2. Remove the project admin and project mentors section

![image](https://user-images.githubusercontent.com/77936051/164014911-6670f106-b74d-4393-89d0-21d48eb0dd70.png)

**To Reproduce**
 Enlarge the GSSoC label a bit and get the 2 logos side by side: GSSoC on the left, and Hackfest on the right.

[2022-04-19 16:58] #249 closed

[2022-04-19 17:01] #235 closed

[2022-04-20 03:08] mdnazisharman2803 commented on #268
Presently there is some text with logo..
I will work on this issue, but let me know, if you want only logo on both side?
Or I should let the text in between and fix only logo both the side???
I'm good at readme let me know 🙂

![IMG_20220420_083538](https://user-images.githubusercontent.com/98539013/164142245-d5ca295a-340e-4ca3-9a56-c068944447cd.jpg)

[2022-04-20 08:49] deepak759 commented on #194
@the-macson I make a pull request, but I don't know did I do it in proper way. can you help in finding it.

[2022-04-20 11:46] rucha0702 commented on #268
just the logo @mdnazisharman2803

[2022-04-21 15:26] mdnazisharman2803 commented on #268
@rucha0702  mam is it necessary to fix that image orientation using only html Or i can use css to fix or bootstrap? Kindly let me know.. Mam..

[2022-04-22 06:13] the-macson commented on #230
thank you for showing you interest @gurjeetsinghvirdee
someone worked on this issue and PR is also merged

[2022-04-22 06:13] #230 closed

[2022-04-22 06:18] the-macson commented on #268
bug is resolved and PR is merged

[2022-04-22 06:18] #268 closed

[2022-04-22 06:18] the-macson commented on #268
Good work @mdnazisharman2803

[2022-04-23 17:25] XZANATOL opened #272 "Add lazy loading to images"
**Is your feature request related to a problem? Please describe.**

On visiting the website, all the images are loaded without prioritizing those which are in the users viewport. It causes a slow loading of the website in addition to a bad user experience (UX) during his first visit. Also not all users scroll down to the very end of the website, also `in the current state` they are still forced to

[2022-04-24 14:41] AshutoshDash1999 commented on #113
/assign

[2022-04-25 13:06] Yashashviarora opened #274 "map link using Html"
In this issue I use a map on which state name are written on clicking upon state name  it will directly take us on a site where details of that state are mentioned.
It will use map area tag

[2022-04-25 13:06] Yashashviarora commented on #274
/assign

[2022-04-26 03:21] KiranAminPanjwani opened #275 "Adding a preloader to the website."
A preloader can be added to the website to enhance the look while navigating the website.
I'm a participant of GSSoC'22, @rucha0702 @vijayyprajapati kindly assign this issue to me. Thank you.

[2022-04-27 05:34] #212 closed

[2022-04-27 15:11] #266 closed

[2022-04-29 09:03] Areebah03 opened #276 "Back to top button"
**Is your feature request related to a problem? Please describe.**
The website do not have navigate to top button.

**Describe the solution you'd like**
I want to add back to top button in website.

[2022-04-29 15:33] aaryahjolia opened #277 "Adding Images in resources section"
**Is your feature request related to a problem? Please describe.**
I will be happy to see images of websites offering courses or images of the course itself as it will enable me to get the information widely.

**Describe the solution you'd like**
I want to add images of different courses and mooc platforms to resources page as it will look perfect instead of the default image that occurs in every

[2022-04-29 15:57] tasneemahmed123 commented on #274
Hello can you assign me this issue I will try to map link using html

[2022-04-29 15:58] tasneemahmed123 commented on #248
Can you assign me this issue

[2022-04-29 15:59] tasneemahmed123 commented on #272
Can you assign me this issue

[2022-05-01 04:05] Ashish4321-hub opened #278 "Instagram link is not working in README file"
**Describe the bug**
The link is not working properly .it is not redirected to Instagram

**Expected behavior**
The Instagram I'd should be open when you click the icon of Instagram in readme file
**Smartphone (please complete the following information):**
 - Device: realme narzo
 - Browser chrome

[2022-05-01 04:36] rucha0702 opened #279 "Change thumbnail for video resources"
This image needs to be changed.

![image](https://user-images.githubusercontent.com/77936051/166132396-bacdf344-e76f-4ba9-bae2-a87e2b63ec12.png)

[2022-05-01 04:37] rucha0702 opened #280 "Reduce sidebar width"
Sidebar is too broad in the resources page, reduce its width.

![image](https://user-images.githubusercontent.com/77936051/166132424-20b165c9-957c-44d1-874b-5f5aa5c00f60.png)

[2022-05-01 04:39] #274 closed

[2022-05-01 04:40] #243 closed

[2022-05-01 04:42] rucha0702 commented on #228
Color of logo should match the theme

[2022-05-01 04:43] #225 closed

[2022-05-01 04:44] #194 closed

[2022-05-01 04:45] #186 closed

[2022-05-01 05:11] NishantSingh-2705 opened #281 "Want to add a new resource of Cloud Computing ."
I want to add an entire new section in the resource panel which is of Cloud Computing as it is also one of the most emerging technologies which I feel would help individuals to learn , what Cloud is and how it helps the modern webs and apps.

[2022-05-01 08:09] Ashish4321-hub opened #282 "Add screenshot and video of project in README file"
I am gssoc contributor and I want to add screenshot and video of project to help other contributor to understand the project

[2022-05-01 10:59] Yashashviarora commented on #274
hey @rucha0702 why uhh closed this issue is there any problem in this issue

[2022-05-01 15:46] Ruheej1 commented on #279
Please assign this issue to me under GSSOC'22

[2022-05-03 05:33] Adhetya opened #283 "Redesign website UI"
**Describe the bug**
A clear and concise description of what the bug is.
The current UI doesn't look very good. I would like to make it more minimal and change the overall styling of the website

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Click on Resources

**Expected behavior**
UI is expected to be clean and minimal

**Screenshots**
If applicable, add screenshots to he

[2022-05-03 06:51] kusumita29 commented on #278
I would like to work on this issue under GSSoC '22

[2022-05-03 06:52] kusumita29 commented on #280
I would like to work on this issue under GSSoC '22

[2022-05-03 07:29] Ashish4321-hub commented on #282
/assidn

[2022-05-03 07:29] Ashish4321-hub commented on #282
/assign

[2022-05-03 07:30] Ashish4321-hub commented on #278
/assign

[2022-05-03 07:58] kusumita29 opened #284 "Minor Bug in the Categories section"
**Describe the bug**
There is an extra Designing tab in the Categories section which is empty. Clicking on it opens the drop-down menu of the API tab

<img width="390" alt="designingerror2" src="https://user-images.githubusercontent.com/99873488/166420522-59a202c2-7505-4423-bf2d-8b315309eb8b.png">

<img width="275" alt="designingerror" src="https://user-images.githubusercontent.com/99873488/166420

[2022-05-03 08:13] kusumita29 opened #285 "Want to add resources in Java under Programming section."
I want to add some free Youtube tutorial links, cheatsheets, GitHub repositories and online courses from where one can learn Java for free.

I want to contribute to this section under GSSoC '22

[2022-05-03 09:53] kusumita29 commented on #278
may I work on this issue? @Ashish4321-hub

[2022-05-03 10:15] pooja-sanap-53 opened #286 "Want to add practice resources under web development section"
I want to add all the websites where we can practice front end development skills, and also take and complete challenges on the same under the web development section.
Example : Websites like Codepen, Frontendmentor.

Note: I want to contribute as a GSSOC 22 contributor.

[2022-05-03 11:52] aaryahjolia commented on #277
I want to do like this :

![image](https://user-images.githubusercontent.com/82600388/166447997-b23a661a-b279-45e7-90e0-20097ea9e15f.png)

Should I move ahead ?

[2022-05-03 13:03] rucha0702 commented on #277
@aaryahjolia we can't have different images for all the resources, since there is no separate key for the image, but there is a key that differentiates videos and docs, so we can have two separate images depending upon docs and videos. Currently, the image for docs seems fine, we only need to change it for the video resources. Changes are to be made only in the for loop.

[2022-05-03 15:18] aaryahjolia commented on #277
Is this fine ? It also matches somewhat the other image for docs

![image](https://user-images.githubusercontent.com/82600388/166482395-059c597f-8755-40fd-8c4e-e6656ea8fbee.png)

For the approach, Instead of changing image name in for loop, I replaced the old image with this new one with same name as old one. Mention the changes that needs to be done or I should make a PR.

[2022-05-03 23:57] tannuahuja opened #288 "Bcakground-color"
Background color of the website is looking very dull and boring we can change this color by adding another one.

[2022-05-04 13:29] #284 closed

[2022-05-04 13:30] #280 closed

[2022-05-04 13:36] rucha0702 commented on #277
Create a PR

[2022-05-04 15:27] Adhetya opened #289 "Sidebar is not dark in dark mode"
**Describe the bug**
Sidebar colour does not become dark in dark mode

**Expected behavior**
A clear and concise description of what you expected to happen.
Sidebar should match dark mode colour scheme

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1440" alt="Screenshot 2022-05-04 at 8 55 23 PM" src="https://user-images.githubusercontent.com/20537150/1667

[2022-05-05 22:19] #272 closed

[2022-05-06 03:53] the-macson commented on #286
@rucha0702 Please review this issue
I think it's good idea

[2022-05-06 05:04] kusumita29 commented on #278
may I work on this issue? @rucha0702

[2022-05-07 10:45] #277 closed

[2022-05-07 14:17] #233 closed

[2022-05-08 11:58] vijayyprajapati commented on #289
Go ahead

[2022-05-10 03:39] TANYA-CHAN opened #293 "want to add a password generator website using HTML, CSS & JS in web development section"
**Is your feature request related to a problem? Please describe.**
An interactive password generator using HTML, CSS & JS.

**Additional context**
Add any other context or screenshots about the feature request here.
https://tanya-chan.github.io/password-generator/

[2022-05-10 03:40] TANYA-CHAN commented on #293
@rucha0702 please assign

[2022-05-10 04:17] TANYA-CHAN commented on #293
/assign

[2022-05-10 06:28] Sabyasachi-Seal opened #294 "Want to Add resources for Git"
Firstly, amazing website. Loved the concept and implementation.
I was going through all the resources but couldnt find git.

Git one of the most important skills these days.
It will be very handy if the website has a resource for Git too.

[2022-05-10 07:30] the-macson commented on #293
@rucha0702 Please review this issue

[2022-05-10 09:07] rucha0702 commented on #293
This website is for learning resources @TANYA-CHAN

[2022-05-10 09:08] #289 closed

[2022-05-10 09:09] rucha0702 commented on #286
Can add

[2022-05-10 10:25] TANYA-CHAN commented on #293
Can it be converted into a project idea for making a simple mern project

[2022-05-10 11:40] Sabyasachi-Seal commented on #294
Thanks a lot for assigning me this issue! I will start the work right away.

I will be making the contribution as a GSSoC 2022 contributor.

[2022-05-11 03:01] YasserAhmedMoh commented on #288
I can try this

[2022-05-11 03:49] the-macson commented on #286
ok @rucha0702
I am assigning this issue to @pooja-sanap-53

[2022-05-11 08:25] #283 closed

[2022-05-12 16:49] aaryahjolia commented on #285
Can i work on this?

[2022-05-12 17:24] Sabyasachi-Seal commented on #294
PR: https://github.com/DSC-JSS-NOIDA/QuickLearn/pull/295

[2022-05-14 10:47] udith51 opened #297 "Default HTML Form validation feedback message present"
![image](https://user-images.githubusercontent.com/72927422/168422440-9cc4fcb5-1916-4417-830b-5f5ee35073f3.png)
The default message provided by html looks odd. I want to add a customized message for validation feedback.

Please assign me this issue.

[2022-05-15 04:50] udith51 commented on #297
@rucha0702

[2022-05-15 06:39] pooja-sanap-53 commented on #286
Thank you for assigning this issue to me. I have started working on this .

[2022-05-15 14:04] shahnehal0407 commented on #297
Assign it to me

[2022-05-15 14:04] dheerajrao20 opened #299 "Social media icons don't redirect to the required pages.. Like Instagram and Twitter"
**Describe the bug**
while clicking on social media icons like Instagram and Twitter it isn't redirecting us to the required pages.

**Expected behavior**
It should open the required pages.

**Additional context**
You may not have the valid social media pages.
So we can remove the unwanted icons. So that it will not disappoint the users.

[2022-05-15 14:09] komalsoni4 commented on #25
@AMAN123956  can I work on this if this issue is not resolved yet?

[2022-05-15 16:42] Abhilasha-Jairath commented on #299
I would like to work on this issue under GSSoC 2022. Please assign this issue to me.

[2022-05-15 16:42] Abhilasha-Jairath commented on #288
I would like to work on this issue under GSSoC 2022. Please assign this issue to me.

[2022-05-15 16:42] Abhilasha-Jairath commented on #276
I would like to work on this issue under GSSoC 2022. Please assign this issue to me.

[2022-05-16 07:04] TusharKesarwani commented on #288
I would like to work on this issue under GSSoC 2022. Please assign this issue to me.

[2022-05-16 19:54] #231 closed

[2022-05-16 19:55] #285 closed

[2022-05-18 05:15] Kanika2772002 commented on #146
How can i assign u ..its not my issue

On Tue, May 17, 2022, 10:55 PM Aachal Pardeshi ***@***.***>
wrote:

[2022-05-18 15:30] sur16-cse commented on #146
Kindly please assign this issue to me , I have some fresh idea

[2022-05-19 04:06] navyasharma0203 commented on #140
Can I work on this??

[2022-05-19 04:06] navyasharma0203 commented on #146
Can I work on this??

[2022-05-19 06:41] Kanika2772002 commented on #140
i shared the screen shot but i didn't get response till now.

On Thu, May 19, 2022, 9:36 AM navyasharma0203 ***@***.***>
wrote:

[2022-05-21 07:57] the-illuminatus commented on #293
can I work on this issue?

[2022-05-21 14:15] #293 closed

[2022-05-21 14:17] rucha0702 commented on #288
I think it seems fine but please do tell what color code is there in your mind

[2022-05-21 14:18] rucha0702 commented on #286
Is this done?

[2022-05-21 14:21] #257 closed

[2022-05-21 14:22] #242 closed

[2022-05-21 14:23] #238 closed

[2022-05-21 14:24] rucha0702 commented on #232
Thanks for suggesting @astha2412, but we don't need this for now.

[2022-05-21 14:24] #232 closed

[2022-05-21 14:24] #281 closed

[2022-05-21 17:54] pooja-sanap-53 commented on #286
In progress, will finish asap.

[2022-05-22 08:01] akankshat05 commented on #282
hey @rucha0702, can I work on this?

[2022-05-22 08:54] akankshat05 commented on #276
@rucha0702 I can work on this

[2022-05-22 09:27] akankshat05 opened #307 "Contact Us section is not responsive"
**Describe the bug**
The contact us section (Location, email, phone) is not responsive across all devices.

**To Reproduce**

**Expected behavior**
Should be modified and responsive

**Screenshots**
If applicable, add screenshots to help explain your problem.
On DESKTOP :

![Screenshot_15](https://user-images.githubusercontent.com/72144454/169688556-cdb4b600-7df3-4d11-8e7f-82a44bf31a45.png)

Galax

[2022-05-22 09:28] akankshat05 commented on #307
I would like to fix this issue (under gssoc), do assign me this :)

[2022-05-23 13:57] MadhuSaini22 opened #309 "The text above start learning button and the button - section needs padding-left"
**Describe the bug**
The text in this section and the button below it needs some padding from left side

**Screenshots**
![2022-05-23](https://user-images.githubusercontent.com/81684710/169835670-4590e34e-9aee-4819-9f3f-97ca7dad094e.png)

[2022-05-24 17:51] udith51 opened #312 "Add features to navbar"
Currently, navbar has only 1 feature. Addition of more features to it would be an add-on to the website.

[2022-05-24 17:52] udith51 commented on #312
Please assign this issue to me.

[2022-05-24 20:06] #297 closed

[2022-05-24 20:09] #278 closed

[2022-05-25 02:06] MadhuSaini22 opened #313 "social-icons in footer needs styling"
**Describe the bug**
Social-icons in footer needs styling and hover effects, they're not looking attractive

Assign this task to me under GSSoC'22 label

[2022-05-25 08:57] Tanishka003 commented on #312
I  would like to work on this project. Please assign it to me.

[2022-05-25 09:53] nik132-eng opened #316 "want to make logo"
**Is your feature request related to a problem? Please describe.**
Every brand has one logo for identification in the market and gets value in market so I fill that you have must one logo.

**Describe the solution you'd like**
I will make the logo in SVG, PNG, and JPG format and before implementing that on the website give choices.

**Describe alternatives you've considered**
I can get an easy log

[2022-05-25 22:25] the-macson commented on #170
I think this bug is fixed
Thank you for showing your interest @Tanishka003

[2022-05-25 22:25] #170 closed

[2022-05-26 07:04] Tanishka003 commented on #170
Ok sir

[2022-05-26 16:05] PreetikaPrakash opened #321 "Want to add a new domain Automation Testing and its resources"
Want to contribute to the QuickLearn website by providing resources to a new domain Automation Testing that is currently not present in the application.
Will add resources for beginner, intermediate and advanced levels for Selenium, Tricentis Tosca, UiPath and Postman testing tools.
Can complete the above task in less than 2 days. Kindly assign it to me.

[2022-05-26 18:21] #294 closed

[2022-05-27 10:17] #275 closed

[2022-05-27 12:31] DeveloperAshish8 opened #324 "Want to enhance the form of contact us section."
**Is your feature request related to a problem? Please describe.**
The previous form was without any box-shadow and border radius. want to add some more features to make the user experience better.

**Describe the solution you'd like**
Added box-shadow and border radius with a background color

**Before**
![Screenshot (49)](https://user-images.githubusercontent.com/90233808/170699538-661a0ce9-143c

[2022-05-27 12:32] DeveloperAshish8 commented on #324
I am a GSSOC participant please assign me the issue.

[2022-05-28 05:20] kusumita29 opened #326 "Adding resources to AI & ML and Data Science section"
![Screenshot (665)](https://user-images.githubusercontent.com/99873488/170811250-ebb175ef-c2c7-4801-8df9-4bb552574413.png)
![Screenshot (666)](https://user-images.githubusercontent.com/99873488/170811253-0cb5e28a-8afb-44b9-8807-864a6b54fe7a.png)

The sub-sections created under the category Artificial Intelligence and Data Science have dummy resource links. I want to add some video tutorials, Githu

[2022-05-30 07:27] vedsom commented on #286
@rucha0702, @the-macson  is this issue completed ?? if not please assign me i will do it today itself.

[2022-05-30 10:48] pooja-sanap-53 commented on #286
Yes, it is done. I have made a PR regarding the same. PR. Number -#386.

[2022-06-01 13:35] Susmita-Dey commented on #316
I'm a GSSoC'22 participant. Assign it to me.

[2022-10-01 06:54] ShubhamJagtap2000 opened #329 "Resources addition"
Hello, I am a graduate(2022) and working in a tech company currently. I have a good experience in cybersecurity, AI/ML, Python, and Computer Vision. I would like to add resources in these fields of this repo, especially in Cybersecurity and Ethical hacking (I have gone through ethical hacking and cybersecurity training as well), I believe it will be a good boost to the documentation. Should I proc

[2022-10-01 06:57] ShubhamJagtap2000 opened #330 "Can't we add topics like Computer Networking and Bug Bounty"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
I just wanted to suggest as a feature to add topics like networking and/or bug bounty to the repo as networking is a crucial part and a must know for an engineer on tech basis.

**Additi

[2022-10-01 07:01] ShubhamJagtap2000 commented on #330
I will do that if you permit me to proceed further.

[2022-10-04 12:19] Nevish-302 opened #331 "scroll to top"
this project needs a scroll to top button at the end of the webpage. Also can you assign this issue to me?

[2022-10-04 15:15] codingkush commented on #227
Can you add label hacktobetfest'22..pls??

[2022-10-11 08:18] 1ananya3 commented on #7
Yeah . I want to work on this .

On Wed, 9 Mar, 2022, 1:27 pm Aman Dixit, ***@***.***> wrote:

[2022-10-21 13:34] #145 closed